@charset "UTF-8";
@font-face {
  font-family: 'CoreGothicE-4';
  src: url("../fonts/CoreGothicE-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'CoreGothicE-7';
  src: url("../fonts/CoreGothicE-7ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #222222; }

textarea:focus, input:focus {
  outline: none; }

::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }

/* Chrome <=56, Safari < 10 */
:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .5s;
  transition: opacity .5s; }

/* FF 4-18 */
::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .5s;
  transition: opacity .5s; }

/* FF 19-51 */
:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity .5s;
  transition: opacity .5s; }

/* IE 10+ */
::placeholder {
  opacity: 1;
  transition: opacity .5s; }

/* Modern Browsers */
*:focus::-webkit-input-placeholder {
  opacity: 0; }

/* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
  opacity: 0; }

/* FF 4-18 */
*:focus::-moz-placeholder {
  opacity: 0; }

/* FF 19-50 */
*:focus:-ms-input-placeholder {
  opacity: 0; }

/* IE 10+ */
*:focus::placeholder {
  opacity: 0; }

/* Modern Browsers */
a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

a:link, a:visited, a:hover, a:active {
  font-size: inherit;
  color: inherit;
  text-decoration: none; }

.break {
  flex-basis: 100%;
  height: 0; }

.spacer_60 {
  width: 100%;
  height: 60px; }

/* 메인 배너 */
.main_banner_container {
  display: flex;
  justify-content: center;
  padding: 48px 35px 55px 35px;
  margin-bottom: 84px;
  width: 100%;
  height: calc(33.3vw);
  max-height: 500px;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover; }

.main_banner_logo {
  max-width: 1170px;
  width: 100%;
  background-image: url(../images/bigtitle.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  cursor: pointer; }

.main_banner_btn_container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  margin: 0 auto;
  padding: 0 35px 0 35px;
  justify-content: flex-end; }
  .main_banner_btn_container img {
    margin-top: 10px;
    height: 60px; }
  .main_banner_btn_container .main_btn_container_special {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: #9600ff; }
    .main_banner_btn_container .main_btn_container_special img {
      margin-top: 0px;
      margin-left: 10px;
      height: 28px; }
    .main_banner_btn_container .main_btn_container_special div {
      margin-right: 20px;
      font-family: CoreGothicE-7;
      font-weight: 800;
      font-size: 16px;
      letter-spacing: -0.5px;
      text-align: center;
      color: #ffffff; }

/* 메인 배너 모바일 */
.main_banner_container_m {
  display: none;
  background-color: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(4px);
  padding: 1.56vw 3vw 1.56vw 5vw;
  height: 12.5vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #292929; }
  .main_banner_container_m .main_banner_logo_m {
    height: 5.63vw; }
    .main_banner_container_m .main_banner_logo_m img {
      height: 5.63vw; }
  .main_banner_container_m .m_counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 12px 0 12px;
    height: 24px;
    border-radius: 15px;
    background-color: #ff004e;
    font-family: CoreGothicE-7;
    font-weight: 900;
    color: #222222;
    font-size: 12px;
    letter-spacing: -0.45px; }
  .main_banner_container_m .main_banner_btn_m {
    height: 8vw; }
    .main_banner_container_m .main_banner_btn_m img {
      width: 8vw;
      height: 8vw;
      margin: 0 0.5vw 0 0.5vw; }

/*일반 페이지 상단 배너*/
.top_banner_container {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #9600ff;
  flex-direction: row;
  padding: 0 20px 0 20px; }
  .top_banner_container .top_banner_box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; }
    .top_banner_container .top_banner_box img {
      height: 25px;
      margin-left: 15px; }
    .top_banner_container .top_banner_box .menu_box {
      margin-right: 15px;
      display: flex;
      justify-content: flex-end; }
      .top_banner_container .top_banner_box .menu_box img {
        margin-left: 0px;
        height: 60px; }
      .top_banner_container .top_banner_box .menu_box .main_btn_container_special {
        margin-left: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: #7800cc; }
        .top_banner_container .top_banner_box .menu_box .main_btn_container_special img {
          margin-top: 0px;
          margin-left: 10px;
          height: 28px; }
        .top_banner_container .top_banner_box .menu_box .main_btn_container_special div {
          margin-right: 20px;
          font-family: CoreGothicE-7;
          font-weight: 800;
          font-size: 16px;
          letter-spacing: -0.5px;
          text-align: center;
          color: #ffffff; }

/* 썸네일 리스트 부분*/
@media screen and (min-width: 957px) and (max-width: 1256px) {
  .vod_list_container {
    width: 900px; } }

@media screen and (max-width: 956px) {
  .video_container {
    flex-direction: column !important;
    justify-content: center; }
    .video_container .video_left_box {
      width: calc(100% - 35px) !important; }
    .video_container .video_right_box {
      width: calc(100% - 110px) !important;
      margin-top: 20px !important;
      margin-left: 55px !important; }
  .vod_list_container {
    width: 600px; }
  .main_thumb_container {
    flex-wrap: wrap;
    justify-content: center !important; } }

/* 메인 페이지 모바일 대응 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .main_container {
    padding: 0 !important; }
  .main_banner_container {
    display: none; }
  .top_banner_container {
    display: none; }
  .main_banner_container_m {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; }
  .spacer_60 {
    display: none; }
  .login_title {
    font-size: 15px !important;
    margin-top: 35vw; }
  .flex_height {
    height: calc(100vh - 500px) !important; }
  .common_btn_container .btn .text {
    margin-top: 1.5vw;
    font-size: 15px !important;
    line-height: 1; }
  .common_btn_container .btn img {
    width: 40px !important;
    height: 40px !important; }
  .join_container {
    margin-top: 13vw !important; }
  .login_text.temp {
    margin-bottom: 0 !important; }
  .join_input_pf {
    width: 100px !important;
    height: 100px !important; }
    .join_input_pf img {
      height: 30% !important; }
  .join_warning {
    font-size: 12px !important; }
    .join_warning.big {
      font-size: 15px !important; }
    .join_warning.huge {
      font-size: 24px !important; }
  .join_input_box {
    height: 13vw !important;
    margin-top: 3vw !important; }
    .join_input_box input {
      margin-left: 5vw !important;
      font-size: 4vw !important;
      line-height: 10.5vw !important; }
    .join_input_box div {
      font-size: 4vw !important;
      line-height: 10.5vw !important;
      margin-right: 5vw !important; }
  .select_container {
    margin-top: 3vw !important; }
    .select_container select {
      height: 13vw !important;
      padding-left: 5vw !important;
      font-size: 4vw !important;
      line-height: 10.5vw !important; }
  .join_sex_container {
    margin-top: 3vw !important; }
    .join_sex_container .join_sex_box_male {
      margin-right: 1.5vw !important;
      height: 13vw !important;
      font-size: 4vw !important;
      line-height: 10.5vw !important; }
      .join_sex_container .join_sex_box_male div {
        margin-left: 5vw !important; }
      .join_sex_container .join_sex_box_male img {
        height: 100%;
        margin-right: 10px; }
    .join_sex_container .join_sex_box_female {
      margin-left: 1.5vw !important;
      height: 13vw !important;
      font-size: 4vw !important;
      line-height: 10.5vw !important; }
      .join_sex_container .join_sex_box_female div {
        margin-left: 5vw !important; }
      .join_sex_container .join_sex_box_female img {
        height: 100%;
        margin-right: 10px; }
  .main_btn_container {
    display: none !important; }
  .main_btn_container_m {
    display: flex !important; }
  .main_thumb_container {
    flex-direction: column; }
  .main_box {
    margin: 15vw 5vw 0 5vw !important;
    width: 90vw !important; }
    .main_box .main_bar {
      width: 90vw !important;
      height: 10vw !important;
      border-radius: 5vw !important;
      box-shadow: inset 0px -3vw 3vw 0 rgba(77, 77, 77, 0.15), inset 0px 3vw 3vw 0 #1d1d1d !important;
      padding-left: 5vw !important; }
      .main_box .main_bar .bar_left {
        font-size: 4vw !important; }
      .main_box .main_bar .bar_right {
        font-size: 4vw !important;
        width: 30vw !important;
        height: 10vw !important; }
    .main_box .title {
      font-size: 6.25vw !important; }
    .main_box .nick_box .nick {
      font-size: 3.5vw !important; }
    .main_box .nick_box .date {
      font-size: 3.5vw !important; }
    .main_box .body {
      font-size: 3vw !important; }
  .main_upper_content_left {
    margin: 15vw 5vw 0 5vw !important;
    width: 90vw !important;
    height: calc(90vw / 16 * 9) !important; }
  .main_upper_content_right {
    flex-direction: column-reverse !important;
    margin: 0 !important; }
    .main_upper_content_right .box {
      width: 90vw !important;
      height: 10vw !important;
      border-radius: 5vw;
      margin: 3vw 5vw 0 5vw !important;
      box-shadow: inset 0px -3vw 3vw 0 rgba(77, 77, 77, 0.15), inset 0px 3vw 3vw 0 #1d1d1d !important; }
      .main_upper_content_right .box .count {
        margin-left: 5vw !important;
        height: 4.3vw !important;
        font-size: 4vw !important; }
        .main_upper_content_right .box .count img {
          margin-bottom: 0.3vw !important;
          height: 3.4vw !important; }
      .main_upper_content_right .box .onair {
        width: 25vw !important;
        height: 10vw !important;
        border-radius: 5vw;
        font-size: 4vw !important; }
    .main_upper_content_right .title {
      width: 80vw !important;
      margin: 6vw 10vw 0 10vw !important;
      font-size: 6.25vw !important; }
    .main_upper_content_right .date {
      width: 80vw !important;
      margin: 3vw 10vw 0 10vw !important;
      font-size: 3.5vw !important; }
    .main_upper_content_right .body {
      width: 80vw !important;
      margin: 4vw 10vw 0 10vw !important;
      font-size: 3vw !important; }
  /*비디오 플레이어 화면 정렬*/
  .video_container {
    flex-flow: column wrap;
    margin-top: 12.5vw !important; }
    .video_container .video_left_box {
      width: 100%;
      margin: 0 !important; }
      .video_container .video_left_box .player_div {
        width: 100vw !important; }
      .video_container .video_left_box .box {
        width: 90vw !important;
        height: 10vw !important;
        border-radius: 5vw;
        margin: 3vw 5vw 0 5vw !important;
        box-shadow: inset 0px -3vw 3vw 0 rgba(77, 77, 77, 0.15), inset 0px 3vw 3vw 0 #1d1d1d !important; }
        .video_container .video_left_box .box .date, .video_container .video_left_box .box .count {
          height: 4.3vw !important;
          font-size: 4vw !important; }
          .video_container .video_left_box .box .date img, .video_container .video_left_box .box .count img {
            margin-bottom: 0.3vw !important;
            height: 3.4vw !important; }
        .video_container .video_left_box .box .date {
          line-height: 1.3 !important;
          margin-left: 5vw !important; }
        .video_container .video_left_box .box .count {
          margin-right: 5vw !important;
          line-height: 1.3 !important; }
          .video_container .video_left_box .box .count img {
            margin-left: 2vw !important; }
    .video_container .video_right_box {
      width: 80vw !important;
      margin: 6vw 10vw 0 10vw !important; }
      .video_container .video_right_box .title {
        margin: 0px !important;
        font-size: 6.25vw !important; }
      .video_container .video_right_box .body {
        margin-top: 4vw !important;
        font-size: 3vw !important; }
  .main_search_box {
    width: 90vw !important;
    height: 10vw !important;
    border-radius: 5vw;
    margin: 10vw 5vw 0 5vw !important;
    align-items: flex-start; }
    .main_search_box input {
      margin-left: 5vw !important;
      font-size: 4vw !important;
      line-height: 10.5vw !important; }
  .vod_list_container {
    max-width: 100vw !important; }
    .vod_list_container .vod_list_img_temp {
      content: url("../images/under-mobile.png");
      object-fit: contain; }
    .vod_list_container .vod_list_box {
      margin: 0 3vw 0 3vw !important; }
  .vod_thumb_box {
    margin: 7vw 2vw 0 2vw !important;
    width: 43vw !important; }
    .vod_thumb_box .thumbnail {
      width: 43vw !important;
      height: calc(43vw / 16 * 9) !important; }
      .vod_thumb_box .thumbnail img {
        border-radius: 1vw !important; }
    .vod_thumb_box .title {
      margin-top: 4.5vw !important;
      font-size: 4vw !important;
      line-height: 1.1 !important;
      height: 4vw !important; }
    .vod_thumb_box .body {
      margin-top: 2.5vw !important;
      font-size: 2.5vw !important; }
    .vod_thumb_box .date_box {
      margin-top: 2vw !important; }
      .vod_thumb_box .date_box .date, .vod_thumb_box .date_box .count {
        font-size: 2.81vw !important;
        height: 3.13vw !important; }
        .vod_thumb_box .date_box .date img, .vod_thumb_box .date_box .count img {
          width: 3.13vw !important;
          height: 3.13vw !important; }
  .board_container {
    margin: 12.5vw 5vw 0 5vw !important; }
    .board_container .board_item {
      margin-top: 5vw;
      border-radius: 4.7vw !important;
      padding: 3vw 5vw 5vw 5vw !important; }
      .board_container .board_item .board_header .title, .board_container .board_item .board_header .date {
        margin-top: 2vw !important;
        font-size: 6.25vw !important; }
      .board_container .board_item .board_header .date {
        font-size: 4vw !important;
        width: 100%; }
      .board_container .board_item .body {
        font-size: 3vw !important; }
  .support_container {
    max-width: 90vw !important;
    margin: 17.5vw 5vw 0 5vw !important;
    padding: 5vw !important; }
    .support_container .support_header {
      font-size: 6.25vw !important; }
      .support_container .support_header img {
        display: none; }
    .support_container .support_item .title, .support_container .support_item .body {
      font-size: 4vw !important;
      white-space: normal !important;
      word-break: break-all !important;
      word-wrap: break-word !important; }
  .footer_container {
    margin: 15vw 0 0 0 !important;
    padding: 0 !important;
    height: 65vw !important; }
    .footer_container .footer_box {
      padding: 6vw 5vw 0 5vw !important; }
      .footer_container .footer_box .left_box {
        flex-grow: 1;
        width: calc(50vw - 30px); }
        .footer_container .footer_box .left_box .title {
          margin-top: 1vw;
          font-size: 3.13vw !important; }
        .footer_container .footer_box .left_box .body {
          margin-top: 2.5vw !important;
          font-size: 2vw !important;
          line-height: 1.5; }
      .footer_container .footer_box .right_box {
        margin-top: 0 !important; }
        .footer_container .footer_box .right_box .title {
          font-size: 3vw !important;
          line-height: 1.6 !important; }
        .footer_container .footer_box .right_box .btn_box {
          margin-top: 1vw !important;
          flex-flow: column wrap !important;
          align-items: flex-end !important; }
          .footer_container .footer_box .right_box .btn_box .btn {
            margin-top: 2vw;
            width: 21vw !important;
            height: 5.47vw !important;
            font-size: 2vw !important;
            border-radius: 1.56vw !important;
            line-height: 5.47vw !important; }
  /* 라이브 화면 모바일 세로*/
  .live_pc_container, .live_pc_container2 {
    display: none; }
  .video_left_box .box_live, .video_left_box .title, .video_left_box .date2, .video_left_box .body {
    display: none !important; }
  body.live {
    background-color: #191919; }
    body.live .main_container {
      padding: 0 !important;
      margin: 0 !important; }
      body.live .main_container .main_content_div {
        width: 100vw; }
    body.live .video_container {
      display: block !important;
      margin: 0;
      padding: 0; }
      body.live .video_container .video_left_box {
        position: fixed;
        top: 12.5vw;
        left: 0;
        margin: 0;
        z-index: 1; }
        body.live .video_container .video_left_box .player_div {
          margin: 0 !important;
          padding: 0 !important;
          width: 100vw !important;
          height: calc(100vw/16*9) !important; }
      body.live .video_container .video_right_box {
        width: 100vw !important;
        left: 0;
        margin: 0 !important; }
        body.live .video_container .video_right_box .chat_box {
          z-index: 0;
          overflow-y: hidden;
          height: 100vh !important;
          width: 100vw !important;
          margin: 0;
          border-radius: 0px !important; }
          body.live .video_container .video_right_box .chat_box .chat_btn_scroll {
            position: fixed !important; }
          body.live .video_container .video_right_box .chat_box .chat_view {
            margin-bottom: 60px;
            margin-top: calc(100vw/16*9) !important; }
            body.live .video_container .video_right_box .chat_box .chat_view .chat_item {
              padding: 2vw 2.5vw 2vw 2.5vw !important; }
              body.live .video_container .video_right_box .chat_box .chat_view .chat_item .chat_text, body.live .video_container .video_right_box .chat_box .chat_view .chat_item .chat_nick, body.live .video_container .video_right_box .chat_box .chat_view .chat_item .chat_nick_admin {
                font-size: 3.8vw !important; }
              body.live .video_container .video_right_box .chat_box .chat_view .chat_item .chat_pf {
                width: 18px !important;
                height: 18px !important;
                vertical-align: -3px; }
              body.live .video_container .video_right_box .chat_box .chat_view .chat_item .chat_admin_icon {
                height: 15px !important;
                vertical-align: -2px; }
            body.live .video_container .video_right_box .chat_box .chat_view .chat_vb_item .chat_vb_title_box {
              padding: 0 2.5vw 0 2.5vw !important; }
              body.live .video_container .video_right_box .chat_box .chat_view .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_pf {
                width: 18px !important;
                height: 18px !important; }
              body.live .video_container .video_right_box .chat_box .chat_view .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_nick {
                margin-top: 2px; }
              body.live .video_container .video_right_box .chat_box .chat_view .chat_vb_item .chat_vb_title_box .chat_vb_title_rightbox .chat_vb_amount {
                margin-top: 3px; }
            body.live .video_container .video_right_box .chat_box .chat_view .chat_vb_item .chat_vb_text_box {
              font-size: 3.8vw !important; }
          body.live .video_container .video_right_box .chat_box .vbox_instant_container {
            position: fixed !important;
            padding-top: calc((100vw/16*9) + 12.5vw + 36px) !important; }
            body.live .video_container .video_right_box .chat_box .vbox_instant_container .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_nick {
              margin-top: 2px; }
            body.live .video_container .video_right_box .chat_box .vbox_instant_container .chat_vb_title_box .chat_vb_title_rightbox .chat_vb_amount {
              margin-top: 3px; }
            body.live .video_container .video_right_box .chat_box .vbox_instant_container .chat_vb_text_box {
              font-size: 3.8vw !important; }
          body.live .video_container .video_right_box .chat_box .vbox_top_container {
            position: fixed;
            top: calc((100vw/16*9) + 12.5vw); }
            body.live .video_container .video_right_box .chat_box .vbox_top_container .vbox_top_box .vbox_nick {
              margin-top: 2px; }
          body.live .video_container .video_right_box .chat_box .chat_admin, body.live .video_container .video_right_box .chat_box .vbox_container, body.live .video_container .video_right_box .chat_box .vbox_container_temp {
            position: fixed;
            left: 0;
            bottom: 13vw; }
          body.live .video_container .video_right_box .chat_box .vbox_container .vbox_title, body.live .video_container .video_right_box .chat_box .vbox_container_temp .vbox_title {
            font-size: 4.5vw !important; }
          body.live .video_container .video_right_box .chat_box .vbox_alert {
            position: fixed;
            left: 0;
            top: calc((100vw/16*9) + 12.5vw) !important;
            overflow-y: scroll;
            border-radius: 0; }
          body.live .video_container .video_right_box .chat_box .chat_input {
            position: fixed;
            left: 0;
            bottom: 0;
            height: 13vw;
            background-color: #222222; }
            body.live .video_container .video_right_box .chat_box .chat_input input {
              font-size: 4vw;
              width: calc(100% - 26vw) !important; }
            body.live .video_container .video_right_box .chat_box .chat_input .vBtn {
              width: 6.5vw !important;
              height: 6.5vw !important;
              margin: 0 3vw 0 3vw !important; }
            body.live .video_container .video_right_box .chat_box .chat_input #inputBtn {
              width: 13vw;
              height: 13vw;
              margin-right: 3vw !important; } }

@media screen and (min-width: 481px) and (max-width: 956px) {
  /*라이브 화면 모바일 가로일때*/
  body.live .live_pc_container, body.live .live_pc_container2 {
    display: none; }
  body.live .video_left_box {
    height: 0; }
    body.live .video_left_box .box_live, body.live .video_left_box .title, body.live .video_left_box .date2, body.live .video_left_box .body {
      display: none !important; }
  body.live .video_right_box, body.live .chat_box {
    height: 0; }
    body.live .video_right_box .chat_btn_scroll, body.live .chat_box .chat_btn_scroll {
      position: fixed;
      left: 333px; }
  body.live .main_content_div .video_container.hide .chat_view, body.live .main_content_div .video_container.hide .chat_input, body.live .main_content_div .video_container.hide .vbox_top_container, body.live .main_content_div .video_container.hide .chat_admin, body.live .main_content_div .video_container.hide .vbox_container, body.live .main_content_div .video_container.hide .vbox_container_temp {
    transition: .3s left;
    left: -400px !important; }
  body.live .main_content_div .video_container.hide .chat_btn {
    transition: .3s left;
    left: 0px;
    background: center no-repeat url("../images/btn-show.png");
    background-size: cover; }
  body.live .main_content_div .video_container .video_left_box .player_div {
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0; }
  body.live .main_content_div .video_container .video_left_box .chat_btn {
    display: block;
    z-index: 9999; }
  body.live .main_content_div .video_container .video_right_box .chat_box .vbox_top_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    z-index: 10;
    transition: .3s left; }
  body.live .main_content_div .video_container .video_right_box .chat_box .chat_admin {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 400px;
    transition: .3s left; }
  body.live .main_content_div .video_container .video_right_box .chat_box .vbox_container, body.live .main_content_div .video_container .video_right_box .chat_box .vbox_container_temp {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 400px;
    transition: .3s left; }
  body.live .main_content_div .video_container .video_right_box .chat_box .chat_view {
    background-color: rgba(34, 34, 34, 0.8);
    position: fixed;
    transition: .3s left;
    left: 0;
    top: 0;
    width: 400px !important;
    bottom: 60px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    body.live .main_content_div .video_container .video_right_box .chat_box .chat_view .chat_item.active, body.live .main_content_div .video_container .video_right_box .chat_box .chat_view .chat_item:active {
      background-color: rgba(48, 21, 66, 0.5) !important; }
    body.live .main_content_div .video_container .video_right_box .chat_box .chat_view .chat_item.sys1, body.live .main_content_div .video_container .video_right_box .chat_box .chat_view .chat_item.sys2 {
      background-color: rgba(60, 60, 60, 0.5) !important; }
    body.live .main_content_div .video_container .video_right_box .chat_box .chat_view .chat_item.sys3 {
      background-color: rgba(255, 0, 78, 0.5) !important; }
  body.live .main_content_div .video_container .video_right_box .chat_box .chat_view::-webkit-scrollbar {
    display: none; }
  body.live .main_content_div .video_container .video_right_box .chat_box .vbox_instant_container {
    position: fixed;
    width: 400px;
    height: 100%;
    z-index: 100; }
  body.live .main_content_div .video_container .video_right_box .chat_box .vbox_alert {
    position: fixed;
    width: 400px;
    left: 0;
    top: 0 !important;
    overflow-y: scroll;
    border-radius: 0; }
  body.live .main_content_div .video_container .video_right_box .chat_box .chat_input {
    position: fixed;
    background-color: #191919;
    transition: .3s left;
    left: 0;
    bottom: 0;
    width: 400px; } }

/* 메인 컨테이너 */
.main_container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #222222; }

.main_content_div {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1200px; }

.main_thumb_container {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.main_box {
  margin: 0 15px 0 15px;
  max-width: 570px;
  width: 100%; }
  .main_box .main_bar {
    max-width: 570px;
    height: 70px;
    width: 100%;
    padding: 0 0 0 39px;
    border-radius: 35px;
    box-shadow: inset 0px -20px 20px 0 rgba(62, 62, 62, 0.15), inset 0px 20px 20px 0 #1d1d1d;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main_box .main_bar .bar_left {
      color: #ffffff;
      font-family: CoreGothicE-7;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: -0.63px;
      text-align: left; }
    .main_box .main_bar .bar_right {
      width: 180px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ff004e;
      border-radius: 35px;
      color: #191919;
      font-family: CoreGothicE-7;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: -0.63px;
      text-align: center; }
      .main_box .main_bar .bar_right.purple {
        background-color: #9600ff; }
  .main_box .title {
    margin-top: 30px;
    width: 100%;
    color: #ffffff;
    font-family: CoreGothicE-7;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    letter-spacing: -1px;
    line-height: 1; }
  .main_box .nick_box {
    display: flex;
    margin-top: 20px; }
    .main_box .nick_box .nick {
      font-family: CoreGothicE-4;
      font-size: 18px;
      line-height: 2.22;
      text-align: left;
      line-height: 1;
      color: #ffffff; }
    .main_box .nick_box .date {
      margin-left: 10px;
      color: #9600ff;
      font-family: CoreGothicE-4;
      font-size: 18px;
      line-height: 2.22;
      text-align: left;
      line-height: 1; }
  .main_box .body {
    margin-top: 20px;
    width: 100%;
    color: #cccccc;
    font-family: CoreGothicE-4;
    font-size: 15px;
    line-height: 2;
    letter-spacing: -0.38px;
    text-align: left; }

.main_thumbnail {
  margin-top: 20px;
  margin-bottom: 30px; }
  .main_thumbnail img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer; }

.main_upper_content_left {
  display: flex;
  flex-shrink: 1;
  max-width: 570px;
  min-width: 270px;
  width: 100%;
  margin: 0 15px 0 15px; }
  .main_upper_content_left a, .main_upper_content_left img {
    width: 100%;
    border-radius: 10px; }

.main_upper_content_right {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  min-width: 270px;
  width: 100%;
  margin: 0 15px 0 15px; }
  .main_upper_content_right .title {
    margin-top: 30px;
    width: 100%;
    color: #ffffff;
    font-family: CoreGothicE-7;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    letter-spacing: -1px;
    line-height: 1; }
  .main_upper_content_right .date {
    margin-top: 20px;
    width: 100%;
    color: #cccccc;
    font-family: CoreGothicE-4;
    font-size: 18px;
    line-height: 2.22;
    text-align: left;
    line-height: 1; }
  .main_upper_content_right .body {
    margin-top: 30px;
    width: 100%;
    color: #cccccc;
    font-family: CoreGothicE-4;
    font-size: 15px;
    line-height: 2;
    letter-spacing: -0.38px;
    text-align: left; }
  .main_upper_content_right .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    max-width: 570px;
    min-width: 270px;
    height: 70px;
    border-radius: 35px;
    box-shadow: inset 0px -20px 20px 0 rgba(62, 62, 62, 0.15), inset 0px 20px 20px 0 #1d1d1d;
    background-color: #202020; }
    .main_upper_content_right .box .count {
      margin-left: 40px;
      width: 147px;
      height: 21px;
      color: #ff004e;
      font-family: CoreGothicE-4;
      font-size: 20px;
      line-height: 1.75;
      letter-spacing: -0.5px;
      text-align: left;
      line-height: 1; }
    .main_upper_content_right .box .onair {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 70px;
      border-radius: 35px;
      background-color: #ff004e;
      color: #191919;
      font-family: CoreGothicE-7;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: -0.63px;
      text-align: center; }

.main_btn_container {
  display: flex;
  margin-top: 19px;
  padding: 25px 0 25px 0;
  width: 100%;
  justify-content: center; }
  .main_btn_container .btn {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 370px;
    width: 370px;
    height: 60px;
    border-radius: 20px;
    box-shadow: -3.5px -3.5px 13.5px 1.5px #292929, 3.5px 3.5px 14.3px 0.8px #151515;
    background-color: #222222; }
    .main_btn_container .btn .text {
      margin-left: 38px;
      height: 20px;
      color: #666666;
      font-family: CoreGothicE-7;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: -0.63px;
      text-align: left;
      line-height: 1; }
    .main_btn_container .btn img {
      margin-right: 20px;
      width: 60px;
      height: 60px; }
    .main_btn_container .btn.active, .main_btn_container .btn:active {
      box-shadow: -3.5px -3.5px 15px 0 #151515, 3.5px 3.5px 15px 0 #292929;
      background-color: #1e1e1e; }
      .main_btn_container .btn.active .text, .main_btn_container .btn:active .text {
        color: #9600ff; }
      .main_btn_container .btn.active .icon1, .main_btn_container .btn:active .icon1 {
        content: url("../images/btn-video_on.png"); }
      .main_btn_container .btn.active .icon2, .main_btn_container .btn:active .icon2 {
        content: url("../images/btn-noti_on.png"); }
      .main_btn_container .btn.active .icon3, .main_btn_container .btn:active .icon3 {
        content: url("../images/btn-spon_on.png"); }

.login_title {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  color: #FFF;
  font-family: CoreGothicE-7;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: -0.63px;
  text-align: center; }

.login_text {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  font-size: 12px;
  color: #666;
  margin-top: 12px;
  margin-bottom: 50px; }
  .login_text.temp {
    margin-bottom: 100px; }

.flex_height {
  width: 100%;
  height: calc(100vh - 1050px); }

.common_btn_container {
  display: flex;
  width: 100%;
  justify-content: center; }
  .common_btn_container.margin {
    margin-top: 30px; }
  .common_btn_container .btn {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 570px;
    width: 570px;
    height: 60px;
    border-radius: 20px;
    box-shadow: -3.5px -3.5px 13.5px 1.5px #292929, 3.5px 3.5px 14.3px 0.8px #151515;
    background-color: #222222; }
    .common_btn_container .btn .text {
      margin-left: 38px;
      height: 20px;
      color: #ffffff;
      font-family: CoreGothicE-7;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: -0.63px;
      text-align: left;
      line-height: 1; }
    .common_btn_container .btn img {
      margin-right: 20px;
      width: 60px;
      height: 60px;
      filter: brightness(300%); }
    .common_btn_container .btn.active, .common_btn_container .btn:active {
      box-shadow: -3.5px -3.5px 15px 0 #151515, 3.5px 3.5px 15px 0 #292929;
      background-color: #1e1e1e; }
      .common_btn_container .btn.active .text, .common_btn_container .btn:active .text {
        color: #666666; }
      .common_btn_container .btn.active img, .common_btn_container .btn:active img {
        filter: brightness(100%); }

.join_container {
  padding: 0 15px 20px 15px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin-top: -50px; }

.join_input_pf {
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #191919; }
  .join_input_pf img {
    height: 47px; }

.join_input_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
  width: 100%;
  max-width: 570px;
  height: 70px;
  border-radius: 35px;
  background-color: #191919; }
  .join_input_box input {
    margin-left: 40px;
    max-width: 460px;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background: none;
    font-family: CoreGothicE-4;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    text-align: left;
    line-height: 1; }
  .join_input_box div {
    margin-right: 40px;
    color: #9600ff;
    font-family: CoreGothicE-4;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    text-align: left;
    line-height: 1;
    word-break: keep-all; }
  .join_input_box img {
    height: 100%; }

.select_container {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 20px 0 0 0; }
  .select_container select {
    width: 100%;
    max-width: 180px;
    height: 70px;
    padding-left: 40px;
    font-family: CoreGothicE-4;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    text-align: left;
    color: #666666;
    background-color: #191919;
    border: solid 1px #191919;
    border-radius: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .select_container select:focus {
    outline: none; }
  .select_container .box1 {
    border-radius: 35px 10px 10px 35px !important; }
  .select_container .box2 {
    margin: 0 11px 0 11px;
    border-radius: 10px !important; }
  .select_container .box3 {
    border-radius: 10px 35px 35px 10px !important; }

.join_sex_container {
  cursor: pointer;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 570px;
  width: 100%;
  font-family: CoreGothicE-4;
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: -0.5px;
  text-align: left;
  line-height: 1;
  color: #666666; }
  .join_sex_container .join_sex_box_male {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    width: 100%;
    height: 70px;
    max-width: 277px;
    border-radius: 35px 10px 10px 35px;
    background-color: #191919; }
    .join_sex_container .join_sex_box_male div {
      margin-left: 40px; }
    .join_sex_container .join_sex_box_male img {
      height: 100%;
      margin-right: 10px; }
    .join_sex_container .join_sex_box_male.sel {
      color: #9600ff; }
      .join_sex_container .join_sex_box_male.sel img {
        content: url("../images/icon-male-on.png"); }
  .join_sex_container .join_sex_box_female {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
    width: 100%;
    height: 70px;
    max-width: 277px;
    border-radius: 10px 35px 35px 10px;
    background-color: #191919; }
    .join_sex_container .join_sex_box_female div {
      margin-left: 40px; }
    .join_sex_container .join_sex_box_female img {
      height: 100%;
      margin-right: 10px; }
    .join_sex_container .join_sex_box_female.sel {
      color: #9600ff; }
      .join_sex_container .join_sex_box_female.sel img {
        content: url("../images/icon-female-on.png"); }

.line {
  width: 100%;
  height: 2px;
  background-color: #191919;
  margin: 25px 0 0 0; }

.join_warning {
  margin: 25px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: CoreGothicE-4;
  font-size: 15px;
  color: #9600ff; }
  .join_warning.white {
    color: #FFF; }
  .join_warning.gray {
    color: #666; }
  .join_warning.big {
    font-size: 20px; }
  .join_warning.huge {
    margin: 40px 0 20px 0;
    font-size: 30px; }
  .join_warning.narrow {
    margin-top: 0px; }

.main_btn_container_m {
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  position: fixed;
  background-color: #222222;
  border-top: 1px solid #333333;
  margin-top: 12.5vw;
  width: 100%;
  padding: 4vw 3.5vw 6vw 3.5vw !important; }
  .main_btn_container_m .btn {
    margin: 0 1.5vw 0 1.5vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28vw;
    height: 12.5vw;
    border-radius: 4.69vw;
    box-shadow: -0.6vw -0.6vw 3vw 0.2vw #292929, 0.6vw 0.6vw 4vw 0.1vw #151515;
    background-color: #222222; }
    .main_btn_container_m .btn img {
      width: 12.5vw;
      height: 12.5vw; }
    .main_btn_container_m .btn.active, .main_btn_container_m .btn:active {
      box-shadow: -0.6vw -0.6vw 4.5vw 0 #151515, 0.6vw 0.6vw 4.5vw 0 #292929;
      background-color: #1e1e1e; }
      .main_btn_container_m .btn.active .icon1, .main_btn_container_m .btn:active .icon1 {
        content: url("../images/btn-video_on.png"); }
      .main_btn_container_m .btn.active .icon2, .main_btn_container_m .btn:active .icon2 {
        content: url("../images/btn-noti_on.png"); }
      .main_btn_container_m .btn.active .icon3, .main_btn_container_m .btn:active .icon3 {
        content: url("../images/btn-spon_on.png"); }

.main_search_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0 auto;
  width: 100%;
  max-width: 570px;
  height: 70px;
  border-radius: 35px;
  background-color: #191919; }
  .main_search_box input {
    margin-left: 40px;
    width: 100%;
    max-width: 460px;
    height: 100%;
    border: none;
    color: #333333;
    background: none;
    font-family: CoreGothicE-4;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    text-align: left;
    line-height: 1; }
  .main_search_box img {
    height: 100%; }

.vod_list_container {
  display: flex;
  justify-content: center;
  max-width: 1200px; }
  .vod_list_container .vod_list_box {
    display: flex;
    flex-flow: row wrap; }
  .vod_list_container .vod_list_img_temp {
    width: 100%; }

.vod_thumb_box {
  display: block;
  width: 270px;
  margin: 40px 15px 0 15px; }
  .vod_thumb_box .thumbnail {
    width: 270px;
    height: 150px;
    border-radius: 10px;
    background-color: #191919; }
    .vod_thumb_box .thumbnail img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
  .vod_thumb_box .title {
    margin-top: 24px;
    color: #ffffff;
    font-family: CoreGothicE-7;
    font-size: 20px;
    font-weight: 800;
    line-height: 4;
    letter-spacing: -0.5px;
    text-align: left;
    line-height: 1;
    overflow: hidden;
    height: 20px; }
  .vod_thumb_box .body {
    margin-top: 16px;
    color: #cccccc;
    font-family: CoreGothicE-4;
    font-size: 13px;
    line-height: 1.69;
    text-align: left; }
  .vod_thumb_box .date_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px; }
    .vod_thumb_box .date_box .date {
      width: 91px;
      color: #cccccc;
      font-family: CoreGothicE-4;
      font-size: 18px;
      line-height: 2.22;
      text-align: left;
      line-height: 1; }
    .vod_thumb_box .date_box .count {
      display: flex;
      align-items: center;
      height: 18px;
      color: #9600ff;
      font-family: CoreGothicE-4;
      font-size: 18px;
      line-height: 2.22;
      text-align: right;
      line-height: 1; }
      .vod_thumb_box .date_box .count img {
        margin-left: 10px;
        height: 20px; }

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none; }

.video_container {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 15px;
  flex-flow: row wrap; }
  .video_container .video_left_box {
    display: flex;
    margin: 0 15px 0 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex-grow: 1;
    flex-direction: column;
    height: auto;
    width: calc(66% - 30px); }
    .video_container .video_left_box .chat_btn {
      display: none;
      position: fixed;
      left: 400px;
      top: 0px;
      width: 70px;
      height: 70px;
      background: center no-repeat url("../images/btn-hide.png");
      background-size: cover;
      color: white;
      cursor: pointer; }
    .video_container .video_left_box .player_div {
      position: relative;
      width: 100%;
      background-color: #1e1e1e;
      flex-grow: 1; }
      .video_container .video_left_box .player_div * {
        flex-grow: 1; }
    .video_container .video_left_box .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;
      width: 100%;
      height: 70px;
      border-radius: 35px;
      box-shadow: inset 0px -20px 20px 0 rgba(77, 77, 77, 0.15), inset 0px 20px 20px 0 #1d1d1d;
      background-color: #202020; }
      .video_container .video_left_box .box .date {
        margin-left: 40px;
        width: 104px;
        font-family: CoreGothicE-7;
        font-size: 20px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #cccccc;
        line-height: 1; }
      .video_container .video_left_box .box .count {
        margin-right: 40px;
        display: flex;
        align-items: center;
        color: #9600ff;
        font-family: CoreGothicE-7;
        font-size: 20px;
        font-weight: 800;
        line-height: 2;
        text-align: right;
        line-height: 1; }
        .video_container .video_left_box .box .count img {
          margin-left: 10px;
          height: 20px; }
      .video_container .video_left_box .box .count2 {
        margin-left: 40px;
        width: 147px;
        height: 21px;
        color: #ff004e;
        font-family: CoreGothicE-7;
        font-size: 20px;
        font-weight: 800;
        line-height: 1.75;
        letter-spacing: -0.5px;
        text-align: left;
        line-height: 1; }
      .video_container .video_left_box .box .onair {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 70px;
        border-radius: 35px;
        background-color: #ff004e;
        color: #191919;
        font-family: CoreGothicE-7;
        font-size: 25px;
        font-weight: 800;
        letter-spacing: -0.63px;
        text-align: center; }
    .video_container .video_left_box .box_live {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;
      width: 100%;
      height: 70px;
      border-radius: 35px;
      box-shadow: inset 0px -20px 20px 0 rgba(62, 62, 62, 0.15), inset 0px 20px 20px 0 #1d1d1d;
      background-color: #202020; }
      .video_container .video_left_box .box_live .count2 {
        margin-left: 40px;
        width: 147px;
        height: 21px;
        color: #ff004e;
        font-family: CoreGothicE-7;
        font-size: 20px;
        font-weight: 800;
        line-height: 1.75;
        letter-spacing: -0.5px;
        text-align: left;
        line-height: 1; }
      .video_container .video_left_box .box_live .onair {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 70px;
        border-radius: 35px;
        background-color: #ff004e;
        color: #191919;
        font-family: CoreGothicE-7;
        font-size: 25px;
        font-weight: 800;
        letter-spacing: -0.63px;
        text-align: center; }
    .video_container .video_left_box .title {
      margin-top: 40px;
      width: 100%;
      color: #ffffff;
      font-family: CoreGothicE-7;
      font-size: 40px;
      font-weight: 800;
      text-align: left;
      letter-spacing: -1px;
      line-height: 1.1; }
    .video_container .video_left_box .date2 {
      margin-top: 30px;
      color: #cccccc;
      font-family: CoreGothicE-4;
      font-size: 18px;
      line-height: 2.22;
      text-align: left;
      line-height: 1; }
    .video_container .video_left_box .body {
      margin-top: 30px;
      width: 100%;
      color: #cccccc;
      font-family: CoreGothicE-4;
      font-size: 15px;
      line-height: 2;
      letter-spacing: -0.38px;
      text-align: left; }
  .video_container .video_right_box {
    margin: 0 15px 0 15px;
    width: calc(34% - 30px);
    height: auto; }
    .video_container .video_right_box .title {
      margin-top: 8px;
      width: 100%;
      color: #ffffff;
      font-family: CoreGothicE-7;
      font-size: 40px;
      font-weight: 800;
      text-align: left;
      letter-spacing: -1px;
      line-height: 1.3; }
    .video_container .video_right_box .body {
      margin-top: 30px;
      width: 100%;
      color: #cccccc;
      font-family: CoreGothicE-4;
      font-size: 15px;
      line-height: 2;
      letter-spacing: -0.38px;
      text-align: left; }

.chat_box {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 600px;
  border-radius: 10px;
  background-color: #191919; }
  .chat_box .chat_btn_scroll {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 47px;
    height: 47px;
    opacity: 0;
    cursor: pointer;
    z-index: 9; }
    .chat_box .chat_btn_scroll:focus, .chat_box .chat_btn_scroll:active {
      outline: none !important;
      border: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
    .chat_box .chat_btn_scroll.show {
      transition: 0.7s;
      -webkit-transition: 0.7s;
      bottom: 83px;
      opacity: 1; }
    .chat_box .chat_btn_scroll.hide {
      transition: 0.3s;
      -webkit-transition: 0.3s;
      bottom: 0px;
      opacity: 0; }
  .chat_box .chat_view {
    display: block;
    scrollbar-face-color: #292929;
    scrollbar-track-color: #191919;
    scrollbar-arrow-color: none;
    scrollbar-highlight-color: #292929;
    scrollbar-3dlight-color: none;
    scrollbar-shadow-color: #292929;
    scrollbar-darkshadow-color: none;
    overflow-y: auto; }
    .chat_box .chat_view::-webkit-scrollbar {
      width: 5px;
      background: none; }
    .chat_box .chat_view::-webkit-scrollbar-thumb {
      background: #292929;
      opacity: .4; }
    .chat_box .chat_view::-webkit-scrollbar-track {
      background: none; }
    .chat_box .chat_view .chat_item {
      font-size: 0;
      padding: 7px 10px 7px 10px; }
      .chat_box .chat_view .chat_item .chat_text {
        display: inline-block;
        word-break: break-all;
        word-wrap: normal;
        font-family: "Roboto", "Arial", "sans-serif";
        font-size: 12px;
        line-height: 1.67 !important;
        text-align: left;
        letter-spacing: -0.05rem;
        color: #FFF; }
        .chat_box .chat_view .chat_item .chat_text .chat_pf {
          display: inline-block;
          vertical-align: -7px;
          border-radius: 50%;
          margin-right: 8px;
          width: 25px;
          height: 25px; }
        .chat_box .chat_view .chat_item .chat_text .chat_nick {
          display: inline-block;
          word-break: keep-all;
          word-wrap: normal;
          font-family: "Roboto", "Arial", "sans-serif";
          font-size: 12px;
          line-height: 1.67 !important;
          font-weight: 800;
          margin-right: 10px;
          color: #999; }
        .chat_box .chat_view .chat_item .chat_text .chat_nick_admin {
          display: inline-block;
          word-break: keep-all;
          word-wrap: normal;
          font-family: "Roboto", "Arial", "sans-serif";
          font-size: 12px;
          line-height: 1.67 !important;
          font-weight: 800;
          margin-right: 3px;
          color: #d7083d; }
        .chat_box .chat_view .chat_item .chat_text .chat_admin_icon {
          display: inline-block;
          height: 15px;
          vertical-align: -3px;
          margin-right: 9px; }
      .chat_box .chat_view .chat_item.active, .chat_box .chat_view .chat_item:active {
        background-color: #111111; }
        .chat_box .chat_view .chat_item.active .chat_nick, .chat_box .chat_view .chat_item:active .chat_nick {
          color: #9600ff; }
      .chat_box .chat_view .chat_item.sys1 {
        text-align: center;
        border-top: 1px solid #555555;
        border-bottom: 1px solid #555555;
        background-color: #3c3c3c !important; }
        .chat_box .chat_view .chat_item.sys1 .chat_pf {
          display: none !important; }
        .chat_box .chat_view .chat_item.sys1 .chat_nick {
          display: none !important; }
        .chat_box .chat_view .chat_item.sys1 .chat_text {
          font-family: "Roboto", "Arial", "sans-serif";
          font-weight: 800;
          color: #ffffff !important; }
      .chat_box .chat_view .chat_item.sys2 {
        text-align: center;
        border-top: 1px solid #555555;
        border-bottom: 1px solid #555555;
        background-color: #3c3c3c !important; }
        .chat_box .chat_view .chat_item.sys2 .chat_nick {
          display: none !important; }
        .chat_box .chat_view .chat_item.sys2 .chat_text {
          font-family: "Roboto", "Arial", "sans-serif";
          font-weight: 800;
          color: #ff004e !important; }
      .chat_box .chat_view .chat_item.sys3 {
        text-align: center;
        border-top: 1px solid #bb0039;
        border-bottom: 1px solid #bb0039;
        background-color: #ff004e !important; }
        .chat_box .chat_view .chat_item.sys3 .chat_nick {
          display: none !important; }
        .chat_box .chat_view .chat_item.sys3 .chat_text {
          font-family: "Roboto", "Arial", "sans-serif";
          font-weight: 800;
          color: #FFF !important; }
  .chat_box .chat_vb_item {
    margin: 5px 0 5px 0; }
    .chat_box .chat_vb_item .chat_vb_title_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: #00d9e6;
      padding: 0 10px 0 10px; }
      .chat_box .chat_vb_item .chat_vb_title_box.blue {
        background-color: #1980ff; }
      .chat_box .chat_vb_item .chat_vb_title_box.purple {
        background-color: #aa15ff; }
      .chat_box .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox {
        display: flex;
        align-items: center; }
        .chat_box .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_pf {
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          margin-right: 8px;
          width: 25px;
          height: 25px; }
        .chat_box .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_nick {
          display: inline-block;
          word-break: keep-all;
          word-wrap: normal;
          font-family: "Roboto", "Arial", "sans-serif";
          font-size: 12px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: #191919; }
        .chat_box .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_vboxicon {
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          height: 10px; }
      .chat_box .chat_vb_item .chat_vb_title_box .chat_vb_title_rightbox {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .chat_box .chat_vb_item .chat_vb_title_box .chat_vb_title_rightbox .chat_vb_amount {
          display: inline-block;
          font-family: "Roboto", "Arial", "sans-serif";
          font-size: 14px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: -0.7px;
          text-align: right;
          color: #000000; }
        .chat_box .chat_vb_item .chat_vb_title_box .chat_vb_title_rightbox .chat_vb_vicon {
          display: inline-block;
          height: 30px; }
    .chat_box .chat_vb_item .chat_vb_text_box {
      padding: 13px;
      background-color: #3c3c3c;
      word-break: break-all;
      border-bottom: solid 1px #555;
      font-family: "Roboto", "Arial", "sans-serif";
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #FFF; }
  .chat_box .vbox_top_container {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 36px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; }
    .chat_box .vbox_top_container::-webkit-scrollbar {
      display: none; }
    .chat_box .vbox_top_container.active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(1.05); }
    .chat_box .vbox_top_container .vbox_top_box {
      display: flex;
      align-items: center;
      width: 130px;
      height: 36px;
      background-color: #00d9e6;
      padding: 0 3px 0 7px;
      border: solid 1px #00b9c4;
      cursor: pointer; }
      .chat_box .vbox_top_container .vbox_top_box.blue {
        background-color: #1980ff;
        border: solid 1px #006cf0; }
      .chat_box .vbox_top_container .vbox_top_box.purple {
        background-color: #aa15ff;
        border: solid 1px #9400e8; }
      .chat_box .vbox_top_container .vbox_top_box .vbox_top_pf {
        left: 0px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 7px; }
      .chat_box .vbox_top_container .vbox_top_box .vbox_nick {
        font-family: "Roboto", "Arial", "sans-serif";
        font-size: 12px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #191919;
        width: 48px;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .chat_box .vbox_top_container .vbox_top_box .vbox_top_icon {
        right: 0px;
        width: 30px;
        height: 30px; }
  .chat_box .vbox_instant_container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    padding-top: 36px; }
    .chat_box .vbox_instant_container .chat_vb_item {
      width: 100%;
      margin: 1px 0 5px 0; }
      .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #00d9e6;
        padding: 0 10px 0 10px; }
        .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box.blue {
          background-color: #1980ff; }
        .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box.purple {
          background-color: #aa15ff; }
        .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox {
          display: flex;
          align-items: center; }
          .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_pf {
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            margin-right: 8px;
            width: 25px;
            height: 25px; }
          .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_nick {
            display: inline-block;
            word-break: keep-all;
            word-wrap: normal;
            font-family: "Roboto", "Arial", "sans-serif";
            font-size: 12px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #191919; }
          .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box .chat_vb_title_leftbox .chat_vb_vboxicon {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            height: 10px; }
        .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box .chat_vb_title_rightbox {
          display: flex;
          justify-content: flex-end;
          align-items: center; }
          .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box .chat_vb_title_rightbox .chat_vb_amount {
            display: inline-block;
            font-family: "Roboto", "Arial", "sans-serif";
            font-size: 14px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: -0.7px;
            text-align: right;
            color: #000000; }
          .chat_box .vbox_instant_container .chat_vb_item .chat_vb_title_box .chat_vb_title_rightbox .chat_vb_vicon {
            display: inline-block;
            height: 30px; }
      .chat_box .vbox_instant_container .chat_vb_item .chat_vb_text_box {
        padding: 13px;
        background-color: #3c3c3c;
        border-bottom: solid 1px #555;
        word-break: break-all;
        font-family: "Roboto", "Arial", "sans-serif";
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #FFF; }
  .chat_box .chat_admin {
    display: none;
    width: 100%;
    bottom: 0px;
    background-color: #3c3c3c; }
    .chat_box .chat_admin img {
      height: 31px; }
    .chat_box .chat_admin .nick_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 39px;
      border-top: solid 1px #555; }
      .chat_box .chat_admin .nick_box .nick_label {
        font-family: CoreGothicE-7;
        font-size: 14px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: -0.35px;
        text-align: left;
        color: #ffffff;
        margin-left: 20px; }
      .chat_box .chat_admin .nick_box .btn_close {
        margin-right: 20px; }
    .chat_box .chat_admin .chat_admin_box {
      display: flex;
      align-items: center;
      width: 100%;
      height: 39px;
      border-top: solid 1px #555;
      font-family: CoreGothicE-4;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.14;
      letter-spacing: -0.35px;
      text-align: left;
      color: #ffffff; }
      .chat_box .chat_admin .chat_admin_box img {
        margin-left: 20px;
        margin-right: 6px; }
  .chat_box .chat_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    bottom: 0px;
    border-top: 2px solid #3c3c3c;
    z-index: 10; }
    .chat_box .chat_input input {
      width: calc(100% - 120px);
      height: 60px;
      border: none;
      background: none;
      font-family: "Roboto", "Arial", "sans-serif";
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #FFF !important; }
    .chat_box .chat_input .vBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px !important;
      height: 30px;
      border-radius: 50%;
      background-color: #666666;
      overflow: hidden;
      margin: 0 15px 0 15px; }
      .chat_box .chat_input .vBtn img {
        width: 100% !important;
        height: 100% !important; }
    .chat_box .chat_input #inputBtn {
      width: 60px;
      height: 60px; }
  .chat_box .vbox_container {
    display: none;
    width: 100%;
    bottom: 0px;
    background-color: #191919;
    border-top: solid 1px #555; }
    .chat_box .vbox_container .vbox_title {
      font-family: CoreGothicE-7;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.5;
      letter-spacing: -0.3px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 10px; }
    .chat_box .vbox_container .boxes_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .chat_box .vbox_container .boxes_container .vbox {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 110px !important;
        height: 30px;
        background-color: #00d9e6;
        border-radius: 15px;
        margin-bottom: 15px;
        font-family: CoreGothicE-7;
        font-size: 14px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: -0.7px;
        text-align: right;
        color: #000000; }
        .chat_box .vbox_container .boxes_container .vbox img {
          height: 30px; }
        .chat_box .vbox_container .boxes_container .vbox.blue {
          background-color: #1980ff; }
        .chat_box .vbox_container .boxes_container .vbox.purple {
          background-color: #aa15ff; }
        .chat_box .vbox_container .boxes_container .vbox.white {
          background-color: #FFF; }
        .chat_box .vbox_container .boxes_container .vbox.disabled {
          background-color: #444; }
  .chat_box .vbox_container_temp {
    display: none;
    width: 100%;
    bottom: 0px;
    background-color: #191919;
    border-top: solid 1px #555; }
    .chat_box .vbox_container_temp .vbox_title {
      font-family: CoreGothicE-4;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.5;
      letter-spacing: -0.3px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 50px; }
    .chat_box .vbox_container_temp .vbox_temp {
      margin: 25px auto 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px !important;
      height: 30px;
      background-color: #FFF;
      border-radius: 15px; }
      .chat_box .vbox_container_temp .vbox_temp img {
        height: 10px; }
  .chat_box .vbox_alert {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
    z-index: 11; }
    .chat_box .vbox_alert .vbox_alert_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 15px 5px 15px; }
      .chat_box .vbox_alert .vbox_alert_title img:first-child {
        height: 30px; }
      .chat_box .vbox_alert .vbox_alert_title img:last-child {
        height: 21px; }
    .chat_box .vbox_alert .vbox_alert_body {
      margin: 0px 20px 20px 20px;
      font-family: CoreGothicE-4;
      font-size: 12px;
      letter-spacing: -0.3px;
      line-height: 1.67;
      color: #666666;
      white-space: pre-line; }
    .chat_box .vbox_alert .vbox_alert_bottom {
      margin: 13px 20px 22px 20px;
      color: #444;
      font-family: CoreGothicE-4;
      font-size: 11px;
      line-height: 1.82; }
      .chat_box .vbox_alert .vbox_alert_bottom .button {
        display: flex;
        height: 50px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        background-color: #aa15ff;
        border-radius: 10px;
        font-family: CoreGothicE-7;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: -0.5px;
        color: #FFF;
        cursor: pointer; }
      .chat_box .vbox_alert .vbox_alert_bottom .line {
        height: 1px;
        background-color: #cccccc;
        margin: 20px 0 20px 0; }
      .chat_box .vbox_alert .vbox_alert_bottom .text.center {
        display: block;
        text-align: center; }
      .chat_box .vbox_alert .vbox_alert_bottom .text.big {
        display: flex;
        color: #aa15ff;
        font-size: 14px;
        justify-content: center; }
      .chat_box .vbox_alert .vbox_alert_bottom .text .purple {
        display: inline-block;
        white-space: nowrap;
        height: 15px;
        color: #aa15ff; }

.board_container {
  margin: 5px 15px 0px 15px; }
  .board_container .board_item {
    margin-top: 40px;
    border-radius: 30px;
    box-shadow: -3.5px -3.5px 13.5px 1.5px #292929, 3.5px 3.5px 14.3px 0.8px #151515;
    background-color: #222222;
    padding: 20px 40px 40px 40px; }
    .board_container .board_item .board_header {
      display: flex;
      flex-flow: column wrap; }
      .board_container .board_item .board_header .title {
        display: flex;
        flex-grow: 1;
        color: #ffffff;
        font-family: CoreGothicE-7;
        font-size: 40px;
        font-weight: 800;
        text-align: left;
        letter-spacing: -1px; }
      .board_container .board_item .board_header .date {
        margin-top: 10px;
        display: flex;
        align-items: center;
        color: #9600ff;
        font-family: CoreGothicE-7;
        font-size: 20px;
        font-weight: 800; }
        .board_container .board_item .board_header .date img {
          height: 17px;
          margin-right: 10px; }
    .board_container .board_item .body {
      margin-top: 13px;
      white-space: pre-line;
      color: #cccccc;
      font-family: CoreGothicE-4;
      font-size: 15px;
      line-height: 2;
      letter-spacing: -0.38px;
      text-align: left; }

.support_container {
  width: 100%;
  max-width: 1170px;
  margin: 40px 15px 0 15px;
  border-radius: 30px;
  box-shadow: -3.5px -3.5px 15px 0 #151515, 3.5px 3.5px 15px 0 #292929;
  background-color: #1e1e1e;
  padding: 40px; }
  .support_container .support_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 22px;
    color: #ffffff;
    font-family: CoreGothicE-7;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    letter-spacing: -1px; }
    .support_container .support_header img {
      margin-top: 0;
      margin-left: 30px;
      width: 60px; }
  .support_container .support_item {
    margin-top: 20px; }
    .support_container .support_item .title {
      font-family: CoreGothicE-7;
      font-weight: 800;
      color: #ffffff;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: -0.5px; }
    .support_container .support_item .body {
      font-family: CoreGothicE-4;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: -0.5px;
      color: #cccccc; }

.footer_container {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 286px;
  background-color: #191919;
  padding: 0 20px 0 20px; }
  .footer_container .footer_box {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    padding: 40px 15px 0 15px; }
    .footer_container .footer_box .left_box .title {
      color: #444444;
      font-family: CoreGothicE-7;
      font-size: 20px;
      font-weight: 800;
      line-height: 3.25;
      text-align: left;
      line-height: 1; }
    .footer_container .footer_box .left_box .body {
      margin-top: 19px;
      color: #444444;
      font-family: CoreGothicE-4;
      font-size: 11px;
      line-height: 1.82;
      text-align: left; }
    .footer_container .footer_box .right_box {
      margin-top: 28px; }
      .footer_container .footer_box .right_box .title {
        color: #444444;
        font-family: CoreGothicE-4;
        font-size: 20px;
        line-height: 3.25;
        text-align: right;
        line-height: 32px; }
      .footer_container .footer_box .right_box .btn_box {
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px; }
        .footer_container .footer_box .right_box .btn_box .btn {
          display: flex;
          margin-left: 10px;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 35px;
          border-radius: 10px;
          background-color: #333333;
          color: #161616;
          font-family: CoreGothicE-7;
          font-size: 15px;
          font-weight: 800;
          line-height: 3.33;
          text-align: center;
          line-height: 35px; }

.live_mobile_container .video_box_m {
  width: 100%;
  height: calc(100vw/16*9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: red; }

.live_mobile_container .chat_box_m {
  margin-top: calc(100vw/16*9);
  margin-bottom: 80px; }
  .live_mobile_container .chat_box_m .chat_item .chat_text {
    display: inline-block;
    font-family: "Roboto", "Arial", "sans-serif";
    font-size: 12px !important;
    line-height: 1.67 !important;
    color: #FFF;
    word-break: break-all;
    word-wrap: normal; }
  .live_mobile_container .chat_box_m .chat_item .chat_nick {
    display: inline-block;
    font-family: "Roboto", "Arial", "sans-serif";
    font-size: 12px;
    line-height: 1.67 !important;
    font-weight: 800;
    margin-right: 10px;
    color: #9600ff;
    word-break: break-all;
    word-wrap: normal; }
  .live_mobile_container .chat_box_m .chat_item .chat_nick_admin {
    display: inline-block;
    font-family: "Roboto", "Arial", "sans-serif";
    font-size: 12px;
    line-height: 1.67 !important;
    font-weight: 800;
    margin-right: 10px;
    color: #ff004e; }
  .live_mobile_container .chat_box_m .chat_item.active, .live_mobile_container .chat_box_m .chat_item:active {
    background-color: #301542; }

.live_mobile_container .chat_input_m {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #3c3c3c; }
  .live_mobile_container .chat_input_m input {
    margin-left: 20px;
    width: 100%;
    height: 60px;
    border: none;
    background: none;
    font-family: CoreGothicE-4;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666666; }
  .live_mobile_container .chat_input_m img {
    width: 60px;
    height: 60px; }

/*# sourceMappingURL=common.css.map */