@font-face {
    font-family: 'CoreGothicE-4';
    src: url('../fonts/CoreGothicE-4Regular.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'CoreGothicE-7';
    src: url('../fonts/CoreGothicE-7ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

@mixin bigtitle {
    font-family: CoreGothicE-7;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    letter-spacing: -1px;
}
@mixin bignumber {
    font-family: CoreGothicE-4;
    font-size: 40px;
    line-height: 1;
    text-align: right;
}
@mixin mid3 {
    font-family: CoreGothicE-7;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -0.63px;
    text-align: center;
}
@mixin name1 {
    font-family: CoreGothicE-7;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.63px;
    text-align: left;
}
@mixin footer-title {
    font-family: CoreGothicE-7;
    font-size: 20px;
    font-weight: 800;
    line-height: 3.25;
    text-align: left;
}
@mixin mid2 {
    font-family: CoreGothicE-7; 
    font-size: 20px;
    font-weight: 800;
    line-height: 1.75;
    letter-spacing: -0.5px;
    text-align: left;
}
@mixin mid4 {
    font-family: CoreGothicE-7;
    font-size: 20px;
    font-weight: 800;
    line-height: 2;
    text-align: right;
}
@mixin thumbtitle {
    font-family: CoreGothicE-7;
    font-size: 20px;
    font-weight: 800;
    line-height: 4;
    letter-spacing: -0.5px;
    text-align: left;
}
@mixin footerbig {
    font-family: CoreGothicE-4;
    font-size: 20px;
    line-height: 3.25;
    text-align: right;
}
@mixin mid1 {
    font-family: CoreGothicE-4;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    text-align: left;
}
@mixin number {
    font-family: CoreGothicE-4;
    font-size: 18px;
    line-height: 2.22;
    text-align: right;
}
@mixin sub1 {
    font-family: CoreGothicE-4;
    font-size: 18px;
    line-height: 2.22;
    text-align: left;
}
@mixin footerbtn {
    font-family: CoreGothicE-7;
    font-size: 15px;
    font-weight: 800;
    line-height: 3.33;
    text-align: center;
}
@mixin body1 {
    font-family: CoreGothicE-4;
    font-size: 15px;
    line-height: 2;
    letter-spacing: -0.38px;
    text-align: left;
}
@mixin thumbbody {
    font-family: CoreGothicE-4;
    font-size: 13px;
    line-height: 1.69;
    text-align: left;
}
@mixin footerbody {
    font-family: CoreGothicE-4;
    font-size: 11px;
    line-height: 1.82;
    text-align: left;
}

$pink: #ff004e;
$purple: #9600ff;
$gray100: #151515;
$gray90: #191919;
$gray80: #1e1e1e;
$gray70: #222222;
$gray60: #292929;
$gray50: #333333;
$gray40: #666666;
$gray10: #cccccc;
$gray00: #ffffff;

* {
    
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    background-color: $gray70;
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; } /* Modern Browsers */

a[href^="tel"]{ color:inherit; text-decoration:none; }

a:link, a:visited, a:hover, a:active{
    font-size:inherit;
    color:inherit;
    text-decoration: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.spacer_60{
    width:100%;
    height:60px;
}

/* 메인 배너 */
.main_banner_container{
    display:flex;
    justify-content: center;
    padding: 48px 35px 55px 35px;
    margin-bottom:84px;
    width:100%;
    height:calc(33.3vw);
    max-height:500px;

    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
}

.main_banner_logo{
    max-width:1170px;
    width:100%;
    background-image: url(../images/bigtitle.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display:flex;
    justify-content:flex-end;
    
}

.main_banner_btn_container{
    max-width:1240px;
    width:100%;
    display:flex;
    position: absolute;
    top:0px;
    margin: 0 auto;
    padding: 0 35px 0 35px;
    justify-content:flex-end;
    .main_btn_container_mypage{
        margin-top:10px;
    }
    .main_btn_container_admin{
        margin-left:10px;
        margin-top:10px;
    }
    .main_btn_container_special{
        margin-left:10px;
        margin-top:15px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:170px;
        height:50px;
        border-radius: 35px;
        background-color: $purple;
        img{
            margin-left:20px;
            height:29px;
        }
        div{
            margin-right:20px;
            font-family: CoreGothicE-7;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.5px;
            text-align: center;
            color: $gray00;


        }
    }
}
/* 메인 배너 모바일 */
.main_banner_container_m{
    display:none;
    background-color:rgba($gray80, 0.85);
    backdrop-filter: blur(4px);
    padding:1.56vw 3vw 1.56vw 5vw;
    //margin-bottom: 20px;
    height:12.5vw;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid $gray60;
    .main_banner_logo_m{
        height:5.63vw;
        img{
            height:5.63vw;
        }
    }

    .main_banner_btn_m{
        height:9.38vw;
        img{
            width:9.38vw;
            height:9.38vw;
            margin:0 1.5vw 0 1.5vw;
        }
    }
}

/*일반 페이지 상단 배너*/
.top_banner_container{
    display:flex;
    width:100%;
    height:50px;
    align-items: center;
    background-color: $purple;
    flex-direction: row;
    padding:0 20px 0 20px;
    .top_banner_box{
        margin:0 auto;
        display: flex;
        flex-flow: row;
        width:100%;
        max-width:1200px;
        img{
            height:25px;
            margin-left:15px;
        }

        .top_banner_text{
            display:flex;
            align-items: flex-end;
            height:40px;
            margin-left:23px;
            font-family: CoreGothicE-7;
            font-size: 15px;
            font-weight: 800;
            line-height: 1;
            color: $gray70;
        }
    }
    
}

/* 썸네일 리스트 부분*/
@media screen and (min-width:957px) and (max-width:1256px) {
    .vod_list_container{
        width:900px;
    }
    
}
@media screen and (max-width:956px) {
    .video_container{
        flex-direction:column !important;
        justify-content: center;
        .video_left_box{
            width:calc(100% - 35px) !important;
        }
        .video_right_box{
            width:calc(100% - 110px) !important;
            margin-top:20px !important;
            margin-left:55px !important;
        }
    }
    .vod_list_container{
        width:600px;
    }
    .main_thumb_container{
        flex-wrap:wrap;
        justify-content: center !important;
    }
}


/* 메인 페이지 모바일 대응 */
@media screen and (min-width: 320px) and (max-width: 480px){
    .main_container{
        padding:0 !important;
    }
    .main_banner_container{
        display:none;
    }
    .top_banner_container{
        display:none;
    }
    .main_banner_container_m{
        display:flex;
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index:9999;
    }
    .spacer_60{
        display:none;
    }

    .login_title{
        font-size:15px !important;
        margin-top:35vw;
    }

    .flex_height{
        height:calc(100vh - 500px) !important;
    }

    .common_btn_container{
       
        .btn{
            
            .text{
                margin-top:1.5vw;
                font-size:15px !important;
                line-height: 1;
            }
            img{
                width: 40px !important;
                height: 40px !important;
            }
    
        }
        
    }

    .join_container{
        margin-top:13vw !important;
    }
    .login_text{
        &.temp{
            margin-bottom: 0 !important;
        }
    }
    .join_input_pf{
        width:100px !important;
        height:100px !important;
        img{
            width:40%;
        }
    }

    .join_warning{
        font-size:12px !important;
        &.big{
            font-size:15px !important;
        }
        &.huge{
            font-size:24px !important;
        }
    }

    .join_input_box{
        height: 13vw !important;
        margin-top:3vw !important;
        input{
            margin-left: 5vw !important;
            font-size: 4vw !important;
            line-height: 10.5vw !important;
        }
        div{
            font-size: 4vw !important;
            line-height: 10.5vw !important;
            margin-right:5vw !important;
        }
    }

    .select_container{
        margin-top:3vw !important;
        select{
            height:13vw !important;
            padding-left:5vw !important;
            font-size: 4vw !important;
            line-height: 10.5vw !important;
        }
    
    }

    .join_sex_container{
        margin-top:3vw !important;

    
        .join_sex_box_male{

            margin-right:1.5vw !important;
            height:13vw !important;
            font-size: 4vw !important;
            line-height: 10.5vw !important;

            div{
                margin-left:5vw !important;
            }
            img{
                height:100%;
                margin-right:10px;
            }   

        }
    
        .join_sex_box_female{

            margin-left:1.5vw !important;
            height:13vw !important;
            font-size: 4vw !important;
            line-height: 10.5vw !important;

            div{
                margin-left:5vw !important;
            }
            img{
                height:100%;
                margin-right:10px;
            }

        }
    }

    .main_btn_container{
        display:none !important;
    }

    .main_btn_container_m{
        display:flex !important;
    }

    .main_thumb_container{
        flex-direction: column;
    }
    
    .main_box{
        margin:15vw 5vw 0 5vw !important;
        width:90vw !important;

        .main_bar{
            width:90vw !important;
            height:10vw !important;
            border-radius: 5vw !important;
            box-shadow: inset 0px -3vw 3vw 0 rgba(77, 77, 77, 0.15), inset 0px 3vw 3vw 0 #1d1d1d !important;
            padding-left:5vw !important;
            .bar_left{
                font-size:4vw !important;
                
            }
            .bar_right{
                font-size:4vw !important;
                width:30vw !important;
                height:10vw !important;
            }
        }

        .title{
            font-size:6.25vw !important;
        }
        .nick_box{
            .nick{
                font-size:3.5vw !important;
            }
            .date{
                font-size:3.5vw !important;
            }
        }
        
    
        .body{
            font-size:3vw !important;
        }
    }

    .main_upper_content_left{
        
        margin:15vw 5vw 0 5vw !important;
        width:90vw !important;
        height:calc(90vw / 16 * 9) !important;
    }

    .main_upper_content_right{
        
        flex-direction: column-reverse !important;
        margin:0 !important;
        .box{
            width:90vw !important;
            height:10vw !important;
            border-radius: 5vw;
            margin:3vw 5vw 0 5vw !important;
            box-shadow: inset 0px -3vw 3vw 0 rgba(77, 77, 77, 0.15), inset 0px 3vw 3vw 0 #1d1d1d !important;
            //background-color:white !important;
            .count{
                margin-left:5vw !important;
                height:4.3vw !important;
                font-size:4vw !important;
                img{
                    margin-bottom:0.3vw !important;
                    height:3.4vw !important;
                }
            }
            .onair{
                width: 25vw !important;
                height: 10vw !important;
                border-radius: 5vw;
                font-size:4vw !important;
            }

            

        }
        .title{
            width:80vw !important;
            margin:6vw 10vw 0 10vw !important;
            font-size:6.25vw !important;
        }
        .date{
            width:80vw !important;
            margin:3vw 10vw 0 10vw !important;
            font-size:3.5vw !important;
        }
        .body{
            width:80vw !important;
            margin:4vw 10vw 0 10vw !important;
            font-size:3vw !important;
        }
    }


    /*비디오 플레이어 화면 정렬*/
    .video_container{
        flex-flow: column wrap;
        margin-top:12.5vw !important;
        .video_left_box{
            width:100%;
            margin:0 !important;
            .player_div{
                // margin-left:-35px !important;
                // margin-right:-35px !important;
                width:100vw !important;
            }
            .box{
                width:90vw !important;
                height:10vw !important;
                border-radius: 5vw;
                margin:3vw 5vw 0 5vw !important;
                box-shadow: inset 0px -3vw 3vw 0 rgba(77, 77, 77, 0.15), inset 0px 3vw 3vw 0 #1d1d1d !important;
                .date, .count{
                    height:4.3vw !important;
                    font-size:4vw !important;
                    img{
                        margin-bottom:0.3vw !important;
                        height:3.4vw !important;
                    }
                }
                .date{
                    line-height: 1.3 !important;
                    margin-left:5vw !important;
                }
                .count{
                    margin-right:5vw !important;
                    line-height: 1.3 !important;
                    img{
                        margin-left:2vw !important;
                    }
                }

            }
            
        }
        .video_right_box{
            width:80vw !important;
            margin:6vw 10vw 0 10vw !important;
            .title{
                margin:0px !important;
                font-size:6.25vw !important;
            }
            .body{
                margin-top:4vw !important;
                font-size:3vw !important;
            }
        }
        
        
    } 
    .main_search_box{
        width:90vw !important;
        height:10vw !important;
        border-radius: 5vw;
        margin:10vw 5vw 0 5vw !important;
        align-items: flex-start;
        input{
            margin-left:5vw !important;
            font-size:4vw !important;
            line-height:10.5vw !important;
        }
        
    }

    .vod_list_container{
        max-width:100vw !important;
        .vod_list_box{
            margin:0 3vw 0 3vw !important;
        }
    }

    .vod_thumb_box{
        margin:7vw 2vw 0 2vw !important;
        width:43vw !important;
        .thumbnail{
            width:43vw !important;
            height:calc(43vw / 16 * 9) !important;
            img{
                border-radius: 1vw !important;
            }
        }
        .title{
            margin-top:4.5vw !important;
            font-size:4vw !important;
            line-height:1.1 !important;
            height:4vw !important;
        }
        .body{
            margin-top:2.5vw !important;
            font-size:2.5vw !important;
        }
        .date_box{
            margin-top:2vw !important;
            .date, .count{
                font-size:2.81vw !important;
                height:3.13vw !important;
                img{
                    width:3.13vw;
                    height:3.13vw;
                }
            }
        }
    }

    .board_container{
        margin:12.5vw 5vw 0 5vw !important;
        .board_item{
            margin-top:5vw;
            border-radius: 4.7vw !important;
            padding:3vw 5vw 5vw 5vw !important;
            .board_header{
                .title, .date{
                    margin-top:2vw !important;
                    font-size:6.25vw !important;
                    img{
                    }
                }
                .date{
                    font-size:4vw !important;
                    width:100%;
                }
            }
            .body{
                font-size:3vw !important;
                
            }
        }
    }

    .support_container{
        max-width:90vw !important;
        margin:17.5vw 5vw 0 5vw !important;
        padding:5vw !important;
        .support_header{
            font-size:6.25vw !important;
            img{
                display:none;
            }
        }
        .support_item{
            .title, .body{
                font-size:4vw !important;
                white-space: normal !important;
                word-break:break-all !important;
                word-wrap:break-word !important;
            }
        }
    }

    .footer_container{
        margin:15vw 0 0 0 !important;
        padding:0 !important;
        height:65vw !important;
        .footer_box{
            padding:6vw 5vw 0 5vw !important;
            .left_box{
                flex-grow: 1;
                width:calc(50vw - 30px);
                .title{
                    margin-top:1vw;
                    font-size:3.13vw !important;
                }
                .body{
                    margin-top:2.5vw !important;
                    font-size:2vw !important;
                    line-height: 1.5;
                }
            }
            .right_box{
                //margin-top:5.53vw !important;
                margin-top:0 !important;
                .title{
                    // text-align: left !important;
                     font-size:3vw !important;
                     line-height: 1.6 !important;
                }
                .btn_box{
                    margin-top:1vw !important;
                    flex-flow:column wrap !important;
                    align-items: flex-end !important;
                    .btn{
                        margin-top:2vw;
                        width:21vw !important;
                        height:5.47vw !important;
                        font-size:2vw !important;
                        border-radius: 1.56vw !important;
                        line-height: 5.47vw !important;
                        //margin-left:0 !important;
                        //margin-right:10px;
                    }
                }
            }
        }
    }

    /* 라이브 화면 모바일 세로*/
    .live_pc_container, .live_pc_container2{
        display:none;
    }
    .video_left_box{
        .box_live, .title, .date2, .body{
            display:none !important;
        }

    }
    body.live{
        background-color: $gray90;
        .main_container{
            padding:0 !important;
            margin:0 !important;
            .main_content_div{
                width:100vw;
            }
        }
        .video_container{
            display:block !important;
            margin:0;
            padding:0;
            .video_left_box{
                position: fixed;
                top:0;
                left:0;
                margin:0;
                z-index:1;
                
                .player_div{
                    margin:0 !important;
                    padding:0 !important;
                    width:100vw !important;
                    height:calc(100vw/16*9) !important;
                }
            }
            .video_right_box{
                width:100vw !important;
                left:0;
                margin:0 !important;
                .chat_box{
                    z-index:0;
                    overflow-y:none;
                    height:auto;
                    width:100vw !important;
                    //width:375px !important;
                    //width:auto !important;
                    margin:0;
                    border-radius: 0px !important;
            
                    .chat_view{
                        margin-bottom:60px;
                        margin-top:calc(100vw/16*9) !important;
                        .chat_item{
                            padding:2vw 2.5vw 2vw 2.5vw !important;
                            .chat_text, .chat_nick, .chat_nick_admin{
                                font-size:3vw !important;
                            }
                            .chat_pf{
                                width:18px !important;
                                height:18px !important;
                            }
                            
                        }
                        .chat_vb_item{
                            .chat_vb_title_box{
                                padding:0 2.5vw 0 2.5vw !important;
                                .chat_vb_title_leftbox{
                                    .chat_vb_pf{
                                        width:18px !important;
                                        height:18px !important;
                                    }
                                    .chat_vb_nick{
                                        margin-top:2px;
                                    }
                                    
                                }
                                .chat_vb_title_rightbox{
                                    .chat_vb_amount{
                                        margin-top:3px;
                                    }
                                }
                            }
                        }
                    }

                    .vbox_instant_container{
                        position:fixed !important;
                        padding-top:calc((100vw/16*9) + 36px) !important;
                        .chat_vb_title_box{
                            .chat_vb_title_leftbox{
                                .chat_vb_nick{
                                    margin-top:2px;
                                }
                                
                            }
                            .chat_vb_title_rightbox{
                                .chat_vb_amount{
                                    margin-top:3px;
                                }
                            }
                        }
                    }

                    .vbox_top_container{
                        position:fixed;
                        top:calc(100vw/16*9);
                        .vbox_top_box{
                            .vbox_nick{
                                margin-top:2px;
                            }
                        }
                    }

                    .chat_admin, .vbox_container, .vbox_container_temp{
                        position: fixed;
                        left:0;
                        bottom:13vw;
                    }

                    .vbox_container, .vbox_container_temp{
                        .vbox_title{
                            font-size:4.5vw !important;
                        }
                    }
                    
                    .chat_input{
                        //display: none;
                        position: fixed;
                        left:0;
                        bottom:0;
                        height:13vw;
                        background-color: $gray70;
                        input{
                            //margin-left:5vw !important;
                            font-size:4vw;
                            width:calc(100%-26vw) !important;
                        }
                        .vBtn{
                            width:6.5vw !important;
                            height:6.5vw !important;
                            margin:0 3vw 0 3vw !important;
                            
                        }
                        #inputBtn{
                            width:13vw;
                            height:13vw;
                            margin-right:3vw !important;
                        }
                    }
                }
            }
        }
    }
    
    
}
@media screen and (min-width: 481px) and (max-width: 956px){

    /*라이브 화면 모바일 가로일때*/
    body.live{
        .live_pc_container, .live_pc_container2{
            display:none;
        }
        .video_left_box{
            height:0;
            .box_live, .title, .date2, .body{
                display:none !important;
            }
        }
        .video_right_box, .chat_box{
            height:0;
        }
        //overflow: hidden;
        .main_content_div{
            .video_container{

                &.hide {
                    .chat_view, .chat_input, .vbox_top_container, .chat_admin, .vbox_container, .vbox_container_temp{
                        transition: .3s left;
                        left: -400px !important;
                    }
                    .chat_btn {
                        transition: .3s left;
                        left:0px;
                        background:center no-repeat url('../images/btn-show.png');
                        background-size:cover;
                    }
                }

                .video_left_box{
                    .player_div{
                        position: absolute;
                        //width:100vw;
                        height:100vh;
                        left:0;
                        right:0;
                        top:0;
                        
                    }
                    .chat_btn{
                        display:block;
                        z-index: 9999;
                    }
                }

                .video_right_box{
                    .chat_box{

                        .vbox_top_container{
                            position:fixed;
                            top:0;
                            left:0;
                            width:400px;
                            z-index:10;
                            transition: .3s left;
                        }
                        .chat_admin{
                            position:fixed;
                            bottom:60px;
                            left:0;
                            width:400px;
                            transition: .3s left;
                        }

                        .vbox_container, .vbox_container_temp{
                            position:fixed;
                            bottom:60px;
                            left:0;
                            width:400px;
                            transition: .3s left;
                        }

                        
                        .chat_view{
                            background-color: rgba($gray70, 0.8);
                            position: fixed;
                            transition: .3s left;
                            left:0;
                            top:0;
                            width:400px !important;
                            bottom:60px;
                            -ms-overflow-style: none;  /* IE and Edge */
                            scrollbar-width: none;  /* Firefox */

                            .chat_item{
                                &.active, &:active{
                                    background-color: rgba(#301542, 0.5) !important;
                                }
                                &.sys1, &.sys2{
                                    background-color: rgba(#3c3c3c, 0.5) !important;
                                }
                                &.sys3{
                                    background-color: rgba($pink, 0.5) !important;
                                }
                            }
                        }
                        .chat_view::-webkit-scrollbar{
                            display:none;
                        }
                        
                        .vbox_instant_container{
                            position:fixed;
                            width:400px;
                            height:100%;
                            z-index:100;
                        }

                        .chat_input{
                            position:fixed;
                            background-color: $gray90;
                            transition: .3s left;
                            left:0;
                            bottom:0;
                            width:400px;

                        }
                        
                    }
                }
            }
        }
        
    }
}



/* 메인 컨테이너 */
.main_container{
    display:flex;
    width:100%;
    justify-content: center;
    padding-left:20px;
    padding-right:20px;
    background-color: $gray70;
}

.main_content_div{
    display: -ms-flexbox;
    display:flex;
    justify-content: center;
    -webkit-box-pack: center; 
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-flow: row wrap;
    width:100%;
    max-width:1200px;
}


.main_thumb_container{
    display:flex;
    width:100%;
    justify-content: space-between;
}
.main_box{
    margin:0 15px 0 15px;
    max-width:570px;
    width:100%;

    .main_bar{
        max-width: 570px;
        height:70px;
        width:100%;
        padding: 0 0 0 39px;
        border-radius: 35px;
        box-shadow: inset 0px -20px 20px 0 rgba(62, 62, 62, 0.15), inset 0px 20px 20px 0 #1d1d1d;
        background-color: #202020;
        display:flex;
        justify-content: space-between;
        align-items: center;
    
        .bar_left{
            color: $gray00;
            @include name1;
        }
        .bar_right{
            width:180px;
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            background-color:$pink;
            border-radius: 35px;
            color: $gray90;
            @include mid3;
            &.purple{
                background-color:$purple;
            }
        }
    }

    .title{
        margin-top:30px;
        width:100%;
        color: $gray00;
        @include bigtitle;
        line-height: 1;
    }
    .nick_box{
        display:flex;
        margin-top:20px;
        .nick{
            @include sub1;
            line-height: 1;
            color: $gray00;
        }
        .date{
            margin-left:10px;
            color: $purple;
            @include sub1;
            line-height: 1;
        }
    }
    

    .body{
        margin-top:20px;
        width:100%;
        color: $gray10;
        @include body1;
    }
}



.main_thumbnail{
    margin-top:20px;
    margin-bottom: 30px;
    img{
        width:100%;
        border-radius: 10px;
    }
}

.main_upper_content_left{
    display:flex;
    //flex:0 0 auto;
    flex-shrink: 1;
    max-width:570px;
    min-width:270px;
    width:100%;
    margin:0 15px 0 15px;
    a, img{
        width:100%;
        border-radius: 10px;
    }

}

.main_upper_content_right{
    //flex:0 0 auto;
    display:flex;
    flex-direction: column;
    max-width:570px;
    min-width:270px;
    width:100%;
    margin:0 15px 0 15px;
    .title{
        margin-top:30px;
        width:100%;
        color: $gray00;
        @include bigtitle;
        line-height: 1;
    }

    .date{
        margin-top:20px;
        width:100%;
        color: $gray10;
        @include sub1;
        line-height: 1;
    }

    .body{
        margin-top:30px;
        width:100%;
        color: $gray10;
        @include body1;
    }

    .box{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top:30px;
        max-width: 570px;
        min-width:270px;
        height: 70px;
        border-radius: 35px;
        box-shadow: inset 0px -20px 20px 0 rgba(62, 62, 62, 0.15), inset 0px 20px 20px 0 #1d1d1d;
        background-color: #202020;

        .count{
            margin-left:40px;
            width: 147px;
            height: 21px;
            color: $pink;
            @include mid1;
            line-height:1;
        }
        .onair{
            display:flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 70px;
            border-radius: 35px;
            background-color: $pink;
            color: $gray90;
            @include mid3;
        }
    }
    
}


.main_btn_container{
    display:flex;
    margin-top:19px;
    padding:25px 0 25px 0;
    width:100%;
    justify-content: center;
    
    .btn{
        
        margin-left:15px;
        margin-right:15px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width:370px;
        width: 370px;
        height: 60px;
        border-radius: 20px;
        box-shadow: -3.5px -3.5px 13.5px 1.5px $gray60, 3.5px 3.5px 14.3px 0.8px $gray100;
        background-color: $gray70;
        
        .text{
            margin-left:38px;
            height: 20px;
            color: $gray40;
            @include name1;
            line-height: 1;
        }
        img{
            margin-right:20px;
            width: 60px;
            height: 60px;
        }
        

        &.active, &:active {
            box-shadow: -3.5px -3.5px 15px 0 $gray100, 3.5px 3.5px 15px 0 $gray60;
            background-color: $gray80;
            .text{
                color: $purple;
            }
            .icon1{
                content:url('../images/btn-video_on.png');
            }
            .icon2{
                content:url('../images/btn-noti_on.png');
            }
            .icon3{
                content:url('../images/btn-spon_on.png');
            }

            
        }
    }
}

.login_title{
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    color: #FFF;
    @include mid3;
    
}
.login_text{
    display:flex;
    justify-content: center;
    flex-basis: 100%;
    font-size:12px;
    color:#666;
    margin-top:12px;
    margin-bottom:50px;

    &.temp {
        margin-bottom:100px;
    }
}

.flex_height{
    width:100%;
    height:calc(100vh - 1050px);
}

.common_btn_container{
    display:flex;
    width:100%;
    justify-content: center;
    &.margin{
        margin-top:30px;
    }
    .btn{
        margin-left:15px;
        margin-right:15px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width:570px;
        width: 570px;
        height: 60px;
        border-radius: 20px;
        box-shadow: -3.5px -3.5px 13.5px 1.5px $gray60, 3.5px 3.5px 14.3px 0.8px $gray100;
        background-color: $gray70;
        
        .text{
            margin-left:38px;
            height: 20px;
            color: $gray00;
            @include name1;
            line-height: 1;
        }
        img{
            margin-right:20px;
            width: 60px;
            height: 60px;
            filter: brightness(300%);
        }

        &.active, &:active {
            box-shadow: -3.5px -3.5px 15px 0 $gray100, 3.5px 3.5px 15px 0 $gray60;
            background-color: $gray80;
            .text{
                color: $gray40;
            }           
            img{
                //-webkit-filter: opacity(.5) drop-shadow(0 0 0 white);
                //filter: opacity(.5) drop-shadow(0 0 0 white);
                filter: brightness(100%);
            }
        }

    }
}

.join_container{
    padding:0 15px 20px 15px;
    display:flex;
    flex-direction: column;
    max-width:600px;
    width:100%;
    box-sizing: border-box;
    justify-content: center;
    margin-top:-50px;
}

.join_input_pf{
    margin:0 auto 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:150px;
    border-radius: 50%;
    background-color:$gray90;
    img{
    }
}

.join_input_box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0 0 0;
    width:100%;
    max-width: 570px;
    height: 70px;
    border-radius: 35px;
    background-color: $gray90;

    input{
        margin-left:40px;
        max-width:460px;
        width:100%;
        height:100%;
        border:none;
        color: white;
        background: none;
        @include mid1;
        line-height: 1;
    }
    div{
        margin-right:40px;
        color: $purple;
        @include mid1;
        line-height: 1;
        word-break:keep-all;
    }
    img{
        height:100%;
    }
}

.select_container{
    display:flex;
    width:100%;
    height:auto;
    box-sizing: border-box;
    margin:20px 0 0 0;
    select{
        width:100%;
        max-width:180px;
        height:70px;
        padding-left:40px;
        @include mid1;
        color:$gray40;
        background-color:$gray90;
        border:solid 1px $gray90;
        border-radius: 35px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        
    }

    select:focus{
        outline:none;
    }

    .box1{
        border-radius: 35px 10px 10px 35px !important;
    }
    .box2{
        margin:0 11px 0 11px;
        border-radius: 10px !important;
    }
    .box3{
        border-radius: 10px 35px 35px 10px !important;
    }
}

.join_sex_container{
    cursor: pointer;
    margin:20px 0 0 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:570px;
    width:100%;
    @include mid1;
    line-height: 1;
    color:$gray40;

    .join_sex_box_male{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-right:8px;
        width:100%;
        height:70px;
        max-width:277px;
        border-radius: 35px 10px 10px 35px;
        background-color: $gray90;
        div{
            margin-left:40px;
        }
        img{
            height:100%;
            margin-right:10px;
        }   

        &.sel{
            color:$purple;
            img{
                content:url('../images/icon-male-on.png');
            }
        }
    }

    .join_sex_box_female{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-left:8px;
        width:100%;
        height:70px;
        max-width:277px;
        border-radius: 10px 35px 35px 10px;
        background-color: $gray90;
        div{
            margin-left:40px;
        }
        img{
            height:100%;
            margin-right:10px;
        }
        &.sel{
            color:$purple;
            img{
                content:url('../images/icon-female-on.png');
            }
        }
    }
}
.line{
    width:100%;
    height:2px;
    background-color: $gray90;
    margin:25px 0 0 0;
}
.join_warning{
    margin:25px 0 10px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: CoreGothicE-4;
    font-size: 15px;
    color:$purple;

    &.white{
        color:#FFF;
    }
    &.gray{
        color:#666;
    }
    &.big{
        font-size:20px;
    }
    &.huge{
        margin:40px 0 20px 0;
        font-size:30px;
    }
    &.narrow{
        margin-top:0px;
    }
}

.main_btn_container_m{
    display:none;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    position:fixed;
    background-color:$gray70;
    border-top:1px solid $gray50;
    margin-top:12.5vw;
    width:100%;
    padding:4vw 3.5vw 6vw 3.5vw !important;
    

    .btn{
        margin:0 1.5vw 0 1.5vw !important;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 28vw;
        height: 12.5vw;
        border-radius: 4.69vw;
        box-shadow: -0.6vw -0.6vw 3vw 0.2vw $gray60, 0.6vw 0.6vw 4vw 0.1vw $gray100;
        background-color: $gray70;

        img{
            width: 12.5vw;
            height: 12.5vw;
        }
        

        &.active, &:active {
            box-shadow: -0.6vw -0.6vw 4.5vw 0 $gray100, 0.6vw 0.6vw 4.5vw 0 $gray60;
            background-color: $gray80;
            .icon1{
                content:url('../images/btn-video_on.png');
            }
            .icon2{
                content:url('../images/btn-noti_on.png');
            }
            .icon3{
                content:url('../images/btn-spon_on.png');
            }

            
        }
    }
}

.main_search_box{

    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:40px auto 0 auto;
    width:100%;
    max-width: 570px;
    height: 70px;
    border-radius: 35px;
    background-color: $gray90;

    input{
        margin-left:40px;
        width:100%;
        max-width:460px;
        height:100%;
        border:none;
        color: $gray50;
        background: none;
        @include mid1;
        line-height: 1;
    }
    img{
        height:100%;
    }
}

.vod_list_container{
    display:flex;
    justify-content: center;
    max-width:1200px;
    .vod_list_box{
        display:flex;
        flex-flow: row wrap;
    }
}



.vod_thumb_box{
    display:block;
    width:270px;
    margin:40px 15px 0 15px;
    //float:left;
    .thumbnail{
        width:270px;
        height:150px;
        border-radius: 10px;
        background-color:$gray90;
        img{
            width:100%;
            height:100%;
            border-radius: 10px;
        }
    }

    .title{
        margin-top:24px;
        color: $gray00;
        @include thumbtitle;
        line-height: 1;
        overflow: hidden;
        height:20px;
    }

    .body{
        margin-top:16px;
        color: $gray10;
        @include thumbbody;
    }

    .date_box{
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin-top:15px;
        .date{
            width: 91px;
            //height: 16px;
            color: $gray10;
            @include sub1;
            line-height: 1;
        }

        .count{
            display:flex;
            align-items: center;
            height: 18px;
            color: $purple;
            @include number;
            line-height: 1;
            img{
                margin-left:10px;
            }
        }
    }
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border:none;
  }

.video_container{
    display:flex;
    width:100%;
    height:auto;
    margin-top:15px;
    flex-flow: row wrap;
    .video_left_box{
        display:flex;
        margin:0 15px 0 15px;
        -webkit-box-flex: 1; 
        -ms-flex: 1;
        flex-grow: 1;
        flex-direction: column;
        height:auto;
        //min-width:570px;
        //max-width:770px;
        width:calc(66% - 30px);
        .chat_btn{
            display:none;
            position:fixed;
            left:400px;
            top:0px;
            
            width:70px;
            height:70px;
            background:center no-repeat url('../images/btn-hide.png');
            background-size:cover;
            color:white;
        }
        .player_div{
            position: relative;
            width:100%;
            //min-height:360px;
            background-color:$gray80;
            
            flex-grow: 1;
            *{

                flex-grow: 1;
            }
        }
        .box{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-top:24px;
            width:100%;
            height: 70px;
            border-radius: 35px;
            box-shadow: inset 0px -20px 20px 0 rgba(77, 77, 77, 0.15), inset 0px 20px 20px 0 #1d1d1d;
            background-color: #202020;
    
            .date{
                margin-left:40px;
                width: 104px;
                //height: 17px;
                font-family: CoreGothicE-7;
                font-size: 20px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: $gray10;
                line-height: 1;
            }
    
            .count{
                margin-right:40px;
                display:flex;
                align-items: center;
                //height: 19px;
                color: $purple;
                @include mid4;
                line-height: 1;
                img{
                    margin-left:10px;
                }
            }

            .count2{
                margin-left:40px;
                width: 147px;
                height: 21px;
                color: $pink;
                @include mid2;
                line-height:1;
            }
            .onair{
                display:flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 70px;
                border-radius: 35px;
                background-color: $pink;
                color: $gray90;
                @include mid3;
            }
            
        }

        .box_live{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-top:24px;
            width:100%;
            height: 70px;
            border-radius: 35px;
            box-shadow: inset 0px -20px 20px 0 rgba(62, 62, 62, 0.15), inset 0px 20px 20px 0 #1d1d1d;
            background-color: #202020;
    
            .count2{
                margin-left:40px;
                width: 147px;
                height: 21px;
                color: $pink;
                @include mid2;
                line-height:1;
            }
            .onair{
                display:flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 70px;
                border-radius: 35px;
                background-color: $pink;
                color: $gray90;
                @include mid3;
            }
        }
        .title{
            margin-top:40px;
            width:100%;
            color: $gray00;
            @include bigtitle;
            line-height:1.1;
        }
        .date2{
            margin-top:30px;
            color: $gray10;
            @include sub1;
            line-height: 1;
        }
        .body{
            margin-top:30px;
            width:100%;
            color: $gray10;
            @include body1;
        }
    }
    .video_right_box{
        margin:0 15px 0 15px;
        width:calc(34% - 30px);
        //width:370px;
        //min-width:370px;
        
        height:auto;
        .title{
            margin-top:8px;
            width:100%;
            color: $gray00;
            @include bigtitle;
            line-height:1.3;
        }
   
        .body{
            margin-top:30px;
            width:100%;
            color: $gray10;
            @include body1;
        }
    }
}

.chat_box{
    display:flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    height:600px;
    border-radius: 10px;
    background-color: $gray90;
    .chat_view{
        display:block;
        //width:100%;
        //height:540px;
        scrollbar-face-color: $gray60;
        scrollbar-track-color: $gray90;
        scrollbar-arrow-color: none;
        scrollbar-highlight-color: $gray60;
        scrollbar-3dlight-color: none;
        scrollbar-shadow-color: $gray60;
        scrollbar-darkshadow-color: none;

        &::-webkit-scrollbar {
            width: 5px;
            background: none;
        }
        &::-webkit-scrollbar-thumb {
            background: $gray60;
            opacity: .4;
        }
        &::-webkit-scrollbar-track {
            background: none;
        }
        overflow-y: auto;

        

        .chat_item{
            font-size:0;
            //word-break:break-all;
            padding:7px 10px 7px 10px;
           
            .chat_text{
                display:inline-block;
                word-break: keep-all;
                word-wrap: normal;
                font-family: CoreGothicE-4;
                font-size: 12px;
                line-height: 1.67 !important;
                text-align: left;
                color: $gray10;
                .chat_pf{
                    display:inline-block;
                    vertical-align: middle;
                    border-radius: 50%;
                    margin-right:8px;
                    width:25px;
                    height:25px;
                }
                .chat_nick{
                    display:inline-block;
                    word-break: keep-all;
                    word-wrap: normal;
                    font-family: CoreGothicE-7;
                    font-size: 12px;
                    line-height: 1.67 !important;
                    font-weight: 800;
                    margin-right:10px;
                    color:$gray40;
                }
                .chat_nick_admin{
                    display:inline-block;
                    word-break: keep-all;
                    word-wrap: normal;
                    font-family: CoreGothicE-7;
                    font-size: 12px;
                    line-height: 1.67 !important;
                    font-weight: 800;
                    margin-right:10px;
                    color: $pink;
                }
            }

            &.active, &:active{
                .chat_nick{
                    color: $purple;
                }
                background-color:#111111;
            }

            &.sys1{
                text-align: center;
                border-top:1px solid #555555;
                border-bottom: 1px solid #555555;
                .chat_pf{
                    display:none !important;
                }
                .chat_nick{
                    display:none !important;
                }
                .chat_text{
                    font-family: CoreGothicE-7;
                    font-weight: 800;
                    color:$gray00 !important;
                }
                background-color: #3c3c3c !important;
            }

            &.sys2{
                text-align: center;
                border-top:1px solid #555555;
                border-bottom: 1px solid #555555;
                .chat_nick{
                    display:none !important;
                }
                .chat_text{
                    font-family: CoreGothicE-7;
                    font-weight: 800;
                    color:$pink !important;
                }
                background-color: #3c3c3c !important;
            }

            &.sys3{
                text-align: center;
                border-top:1px solid #bb0039;
                border-bottom: 1px solid #bb0039;
                .chat_nick{
                    display:none !important;
                }
                .chat_text{
                    font-family: CoreGothicE-7;
                    font-weight: 800;
                    color:$gray90 !important;
                }
                background-color: $pink !important;
            }
        }

        .chat_vb_item{
            margin:5px 0 5px 0;
            .chat_vb_title_box{
                display:flex;
                justify-content: space-between;
                align-items: center;
                width:100%;
                background-color: #00d9e6;
                padding:0 10px 0 10px;

                &.blue{
                    background-color: #1980ff;
                }
                &.purple{
                    background-color: #aa15ff;
                }

                .chat_vb_title_leftbox{
                    display:flex;
                    align-items: center;
                    .chat_vb_pf{
                        display:inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        margin-right:8px;
                        width:25px;
                        height:25px;
                    }
                    .chat_vb_nick{
                        display:inline-block;
                        word-break: keep-all;
                        word-wrap: normal;
                        font-family: CoreGothicE-7;
                        font-size: 12px;
                        font-weight: 800;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        text-align: left;
                        color: $gray90;
                    }
                    .chat_vb_vboxicon{
                        display:inline-block;
                        vertical-align: middle;
                        margin-left:5px;
                    } 
                }
                .chat_vb_title_rightbox{
                    display:flex;
                    justify-content: flex-end;
                    align-items: center;
                    .chat_vb_amount{
                        display:inline-block;
                        font-family: CoreGothicE-7;
                        font-size: 14px;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: -0.7px;
                        text-align: right;
                        color: #000000;
                    }
                    .chat_vb_vicon{
                        display:inline-block;
                    }
                }
            }
            .chat_vb_text_box{
                padding:13px;
                background-color:#3c3c3c;
                border-bottom: solid 1px #555;
                font-family: CoreGothicE-4;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: left;
                color: $gray10
            }
        }
    }
    .vbox_top_container{
        display:flex;
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:36px;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }

        &.active {
            cursor: grabbing;
            cursor: -webkit-grabbing;
            transform: scale(1.05);
        }

        .vbox_top_box{
            display:flex;
            align-items: center;
            width:130px;
            height:36px;
            background-color: #00d9e6;
            padding:0 3px 0 7px;
            border:solid 1px #00b9c4;
            &.blue{
                background-color: #1980ff;
                border:solid 1px #006cf0;
            }
            &.purple{
                background-color: #aa15ff;
                border:solid 1px #9400e8;
            }

            .vbox_top_pf{
                left:0px;
                width:25px;
                height:25px;
                border-radius: 50%;
                margin-right:7px;
            }
            .vbox_nick{
                font-family: CoreGothicE-7;
                font-size: 12px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                color: $gray90;
            }
            .vbox_top_icon{
                right:0px;
                width:30px;
                height:30px;
            }
        }
    }
    .vbox_instant_container{
        display:none;
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        padding-top:36px;
        .chat_vb_item{
            width:100%;
            margin:1px 0 5px 0;
            .chat_vb_title_box{
                display:flex;
                justify-content: space-between;
                align-items: center;
                width:100%;
                background-color: #00d9e6;
                padding:0 10px 0 10px;

                &.blue{
                    background-color: #1980ff;
                }
                &.purple{
                    background-color: #aa15ff;
                }

                .chat_vb_title_leftbox{
                    display:flex;
                    align-items: center;
                    .chat_vb_pf{
                        display:inline-block;
                        vertical-align: middle;
                        border-radius: 50%;
                        margin-right:8px;
                        width:25px;
                        height:25px;
                    }
                    .chat_vb_nick{
                        display:inline-block;
                        word-break: keep-all;
                        word-wrap: normal;
                        font-family: CoreGothicE-7;
                        font-size: 12px;
                        font-weight: 800;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        text-align: left;
                        color: $gray90;
                    }
                    .chat_vb_vboxicon{
                        display:inline-block;
                        vertical-align: middle;
                        margin-left:5px;
                    } 
                }
                .chat_vb_title_rightbox{
                    display:flex;
                    justify-content: flex-end;
                    align-items: center;
                    .chat_vb_amount{
                        display:inline-block;
                        font-family: CoreGothicE-7;
                        font-size: 14px;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: -0.7px;
                        text-align: right;
                        color: #000000;
                    }
                    .chat_vb_vicon{
                        display:inline-block;
                    }
                }
            }
            .chat_vb_text_box{
                padding:13px;
                background-color:#3c3c3c;
                border-bottom: solid 1px #555;
                font-family: CoreGothicE-4;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: left;
                color: $gray10
            }
        }
    }
    .chat_admin{
        display:none;
        width:100%;
        bottom:0px;
        background-color: #3c3c3c;
        .nick_box{
            display:flex;
            justify-content: space-between;
            align-items: center;
            width:100%;
            height:39px;
            border-top:solid 1px #555;
            .nick_label{
                font-family: CoreGothicE-7;
                font-size: 14px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.14;
                letter-spacing: -0.35px;
                text-align: left;
                color: $gray00;
                margin-left:20px;
            }
            .btn_close{
                margin-right:20px;
            }
        }
        .chat_admin_box{
            display:flex;
            align-items: center;
            width:100%;
            height:39px;
            border-top:solid 1px #555;

            font-family: CoreGothicE-4;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.14;
            letter-spacing: -0.35px;
            text-align: left;
            color: $gray00;

            img{
                margin-left:20px;
                margin-right:6px;
            }
        }
    }
    
    .chat_input{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height:60px;
        bottom:0px;
        border-top:2px solid #3c3c3c;

        input{
            width:calc(100% - 120px) ;
            height:60px;
            border:none;
            background: none;
            font-family: CoreGothicE-4;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: left;
            color: $gray40;
        }
        .vBtn{
            display:flex;
            justify-content: center;
            align-items: center;
            width:30px !important;
            height:30px;
            border-radius: 50%;
            background-color: $gray40;
            overflow: hidden;
            margin:0 15px 0 15px;
            img{
                width:100% !important;
                height:100% !important;
            }
        }
        #inputBtn{
            width:60px;
            height:60px;
        }
    }
    .vbox_container{
        display:none;
        width:100%;
        bottom:0px;
        background-color: $gray90;
        border-top:solid 1px #555;
        .vbox_title{
            font-family: CoreGothicE-7;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: -0.3px;
            text-align: center;
            color: $gray00;
            margin-bottom: 10px;
        }
        .boxes_container{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .vbox{
                display:flex;
                justify-content: flex-end;
                align-items: center;
                width:110px !important;
                height:30px;
                background-color: #00d9e6;
                border-radius: 15px;
                margin-bottom:15px;
                
                font-family: CoreGothicE-7;
                font-size: 14px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.14;
                letter-spacing: -0.7px;
                text-align: right;
                color: #000000;

                &.blue{
                    background-color: #1980ff;
                }
                &.purple{
                    background-color: #aa15ff;
                }
                &.white{
                    background-color: #FFF;
                }
                &.disabled{
                    background-color:#444;
                }
            }
        }
    }
    .vbox_container_temp{
        display:none;
        width:100%;
        bottom:0px;
        background-color: $gray90;
        border-top:solid 1px #555;
        .vbox_title{
            font-family: CoreGothicE-4;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: -0.3px;
            text-align: center;
            color: $gray00;
            margin-bottom: 50px;
        }
        .vbox_temp{
            margin:25px auto 10px auto;
            display:flex;
            justify-content: center;
            align-items: center;
            width:80px !important;
            height:30px;
            background-color: #FFF;
            border-radius: 15px;
            
        
        }
    }
}

.board_container{
    margin:5px 15px 0px 15px;
    .board_item{
        margin-top:40px;
        border-radius: 30px;
        box-shadow: -3.5px -3.5px 13.5px 1.5px $gray60, 3.5px 3.5px 14.3px 0.8px $gray100;
        background-color: $gray70;
        padding:20px 40px 40px 40px;
        .board_header{
            display:flex;
            flex-flow:column wrap;
            .title{
                display:flex;
                flex-grow: 1;
                color: $gray00;
                @include bigtitle;
            }
            .date{
                margin-top:10px;
                display:flex;
                align-items: center;
                color: $purple;
                font-family: CoreGothicE-7;
                font-size: 20px;
                font-weight: 800;
                img{
                    width:29px;
                    height:17px;
                    margin-right:10px;
                }
            }
        }
        
        .body{
            margin-top:13px;
            white-space: pre-line;
            color: $gray10;
            @include body1;
        }
    }
}

.support_container{
    width:100%;
    max-width:1170px;
    margin:40px 15px 0 15px;
    border-radius: 30px;
    box-shadow: -3.5px -3.5px 15px 0 $gray100, 3.5px 3.5px 15px 0 $gray60;
    background-color: $gray80;
    padding:40px;
    .support_header{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top:22px;
        color: $gray00;
        @include bigtitle;
        img{
            margin-top:0;
            margin-left:30px;
            width:60px;
        }
    }
    .support_item{
        margin-top:20px;
        .title{
            font-family: CoreGothicE-7;
            font-weight: 800;
            color: $gray00;
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: -0.5px;
        }
        .body{
            font-family: CoreGothicE-4;
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: -0.5px;
            color: $gray10;
        }
    }
}

.footer_container{
    margin-top:130px;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 286px;
    background-color: $gray90;
    padding:0 20px 0 20px;
    .footer_box{
        display:flex;
        width:100%;
        max-width:1200px;
        justify-content: space-between;
        padding:40px 15px 0 15px;

        .left_box{
            .title{
                color: #444444;
                @include footer-title;
                line-height: 1;
            }
            .body{
                margin-top:19px;
                color: #444444;
                @include footerbody;
            }

        }
        .right_box{
            margin-top:28px;
            .title{
                color: #444444;
                @include footerbig;
                line-height:32px;
            }
            .btn_box{
                display:flex;
                flex-flow:row wrap;
                margin-top:10px;
                .btn{
                    display:flex;
                    margin-left:10px;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 35px;
                    border-radius: 10px;
                    background-color: $gray50;
                    color: #161616;
                    @include footerbtn;
                    line-height: 35px;
                }
            }
            
        }
    }
}


.live_mobile_container{
    .video_box_m{
        width:100%;
        height:calc(100vw/16*9);
        position: fixed;
        left:0;
        top:0;
        right:0;
        background-color: red;
    }
    .chat_box_m{
        //width:100%;
        //display:block;
        //background-color:cyan;
        margin-top:calc(100vw/16*9);
        margin-bottom:80px;

        .chat_item{
            //font-size:0;
            //display:flex;
            //font-size:18px !important;
            //padding:7px 20px 7px 20px;
           
            .chat_text{
                display:inline-block;
                font-family: CoreGothicE-4;
                font-size: 12px !important;
                line-height: 1.67 !important;
                color: $gray10;
                word-break: break-all;
                    word-wrap: normal;
                
            }
            .chat_nick{
                display:inline-block;
                font-family: CoreGothicE-7;
                font-size: 12px;
                line-height: 1.67 !important;
                font-weight: 800;
                margin-right:10px;
                color: $purple;
                word-break: break-all;
                    word-wrap: normal;
            }
            .chat_nick_admin{
                display:inline-block;
                font-family: CoreGothicE-7;
                font-size: 12px;
                line-height: 1.67 !important;
                font-weight: 800;
                margin-right:10px;
                color: $pink;
            }

            &.active, &:active{
                background-color:#301542;
            }
        }
    }

    .chat_input_m{
        position:fixed;
        left:0;
        bottom: 0;
        right:0;
        height:80px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-top:2px solid #3c3c3c;

        input{
            margin-left:20px;
            width:100%;
            height:60px;
            border:none;
            background: none;
            font-family: CoreGothicE-4;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: left;
            color: $gray40;
        }
        img{
            width:60px;
            height:60px;
        }
    }
}